<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/createBookclub.css">
<link rel="stylesheet" href="/css/utils.css">
<html lang="en">
<head th:include="partials.html::head('Create a new Meeting!')" >
    <meta charset="UTF-8">
    <title>You shouldn't see this title!</title>

    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
    <div th:replace="partials.html::navbar">You shouldn't see this.</div>
    <div class="container">

        <div th:unless="${isOwner}">
            <h1>Sorry, you can only create meetings for bookclubs for which you are an owner.</h1>

            <p>Check <a th:href="@{'/pro/' + ${loggedin.id}}">your profile page</a> for more information</p>
        </div>

        <div th:if="${isOwner}" class="narrow-body">
            <h2>Create a Meeting for: <span th:text="${bookclub.name}"></span>
        </h2>
        <div class="card">
            <div class="card-header">
                <h3>Fill out the details</h3>
            </div>
            <form th:action="@{'/bookclubs/' + ${bookclub.id} + '/meeting/create'}" th:object="${meeting}" th:method="post"  class="card-body">

                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <select class="form-control" id="location" name="location" aria-label="Default select example">
                        <option value="BAR">Bar</option>
                        <option value="RESTAURANT">Restaurant</option>
                        <option value="HOUSE">House</option>
                        <option value="PUBLIC">Public</option>
                        <option value="LIBRARY">Library</option>
                        <option value="OTHER">Other</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Street Address:</label>
                    <input type="text" th:field="*{address}" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <input type="text" th:field="*{city}" class="form-control">
                </div>

                <div class="mb-3 row">
                    <div class="form-group col col-md-6">
                        <label for="day" class="form-label">Date:</label>
                        <input type="date" name="day" id="day" class="form-control">
                    </div>
                    <div class="form-group col col-md-6">
                        <label for="time" class="form-label">Time:</label>
                        <input type="time" name="time" id="time" class="form-control">
                    </div>
                </div>


                <div class="mb-3">
                    <label for="zipPlusFour" class="form-label">Zip Code:</label>
                    <input type="text" th:field="*{zipPlusFour}" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="book" class="form-label">What book will be discussed?</label>
                    <select class="form-control" name="book" id="book">
                        <option th:each="book : ${books}" th:value="${book}" th:text="${book}"></option>
                    </select>
                </div>

                <input  type="submit">
            </form>
        </div>

    </div>
    </div>

    <footer th:replace="partials.html::footer"></footer>
    <script th:replace="partials.html::findreplace"></script>
</body>
</html>