<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="partials.html::head('Create a new Meeting!')" >
    <meta charset="UTF-8">
    <title>You shouldn't see this title!</title>
</head>
<!--    CSS-->
<link rel="stylesheet" href="/css/meeting-create.css">
<link rel="stylesheet" href="/css/utils.css">
<!--    END CSS-->

<body>

<!--    NAVBAR-->
<div th:replace="partials.html::navbar">You shouldn't see this.</div>
<!--    END NAVBAR-->




<div class="container">
    <div id="meeting-form">
        <div id="breadcrumbditMeeting" class="breadcrumbMeeting narrow-body mb-3">
            <nav aria-label="breadcrumb" class="breadcrumbs">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{'/bookclubs/' + ${bookclub.id}}">Bookclub</a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/bookclubs/' + ${bookclub.id} + '/meeting/' + ${meeting.id}}">Meeting</a></li>
                    <li class="breadcrumb-item" aria-current="page">Edit</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="d-none d-lg-block col-lg-6 py-1 my-2">
            <img class="img-fluid" src="/img/dinnerwithfriends.jpg">
        </div>

        <div class="col-12 col-lg-6 py-1 my-2">
            <div th:unless="${isOwner}">
                <h1>Sorry, you can only create meetings for bookclubs for which you are an owner.</h1>
                <p>
                    Check <a th:href="@{'/pro/' + ${loggedin.id}}">your profile page</a> for more information
                </p>

            </div>

            <div th:if="${isOwner}" class="pro-card">
                <div class="form-meeting">
                    <h2>
                        Create a Meeting for: <span th:text="${bookclub.name}"></span>
                    </h2>
                    <form th:action="@{'/bookclubs/'+ ${bookclub.id} +'/meeting/' + ${meeting.id} + '/edit'}" th:object="${meeting}" th:method="post"  class="form-field">


                        <select class="input" id="location" placeholder="Location" name="location" aria-label="Default select example">
                            <option value="BAR">Bar</option>
                            <option value="RESTAURANT">Restaurant</option>
                            <option value="HOUSE">House</option>
                            <option value="PUBLIC">Public</option>
                            <option value="LIBRARY">Library</option>
                            <option value="OTHER">Other</option>
                        </select>

                        <input type="text" th:field="*{address}" class="input" placeholder="Address">

                        <input type="text" th:field="*{city}" class="input" placeholder="City">


                        <div class="mt-3 row">
                            <div class="col col-md-6">
                                <input type="date" name="day" id="day" class="input">
                            </div>

                            <div class="col col-md-6">
                                <input type="time" name="time" id="time" class="input">
                            </div>
                        </div>
                        <input type="text" th:field="*{zipPlusFour}" class="input" placeholder="Zip Code">

                        <select class="input" name="book" id="book">
                            <option th:each="book : ${books}" th:value="${book}" th:text="${book}"></option>
                        </select>
                        <!--                            </div>-->

                        <input  type="submit" class="butn meeting-link" value="Edit Meeting">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<!--    FOOTER-->

    <footer th:replace="partials.html::footer"></footer>

<!--    END FOOTER-->

<!--    JS-->
    <script th:replace="partials.html::findreplace"></script>

<!--    END JS-->
</body>
</html>