<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="partials.html :: head('Meeting Detailed Information :: Not Another Bookclub')">
    <title>Title</title>
</head>
    <link rel="stylesheet" href="/css/meeting-create.css">
    <!--    CSS-->
<!--    <link rel="stylesheet" href="/css/meeting-create.css">-->
<!--    <link rel="stylesheet" href="/css/utils.css">-->
<!--    END CSS-->


<body>

<!--    NAVBAR-->
    <nav th:replace="partials.html :: navbar"></nav>
<!--    NAVBAR-->

    <div class="container">
        <div id="meeting-form">
            <div class="breadcrumbMeeting narrow-body">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/bookclubs/' + ${bookclub.id}}">Bookclub</a></li>
                        <li class="breadcrumb-item" aria-current="page">Meeting</li>
                    </ul>
                </nav>
            </div>

            <div class="row d-flex justify-content-center">
<!--                <div class="d-none d-lg-block col-lg-6 py-1 my-2">-->
<!--                    <img class="img-fluid" src="/img/dinnerwithfriends.jpg">-->
<!--                </div>-->
                <div class="col-6 py-1 my-2">
                    <div class="pro-card">
                        <div class="form-meeting">
                            <h2 class="">
                                <span th:text="${bookclub.name}"></span> Meeting.
                            </h2>

                            <div class="">
                                <h4 >The book to be discussed:</h4>
                                <div id="results1"></div>
                            </div>

                            <div class="">
                                <p>
                                    The meeting is scheduled for <span th:text="${#dates.format(meeting.timedate,'E, MMM dd yyyy HH:mm:ss')}"></span>
                                </p>
                                <p>
                                    This meeting is being held at: a <span th:text="${meeting.location.toString().toLowerCase()}"></span>
                                </p>
                                <p th:if="${ismemberactive}">
                                    This meeting is being held at: <span th:text="${meeting.getAddress()}"></span>,
                                    <span th:text="${meeting.getCity()}"></span>, <span th:text="${meeting.zipPlusFour}"></span>
                                </p>
                            </div>
                            <div th:if="${isOwner}" class="mb-1 text-center">
                                <a class="butn btn-warning" th:href="@{'/bookclubs/' + ${bookclub.id} + '/meeting/' + ${meeting.id} + '/edit'}">Edit Meeting</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>

<!--    BOOKCLUB MODAL-->
    <div th:replace="partials.html::bookclubmodal"></div>
<!--    END BOOKCLUB MODAL-->


<!--    FOOTER-->
    <footer th:replace="partials.html::footer"></footer>
<!--    END FOOTER-->

<!--    JS-->

<script th:inline="javascript">
        let idsearch = [[${books}]]
        let startdates = [[${startdates}]]
        let startdateshtml = [[${startdateshtml}]]
        let finishdates = [[${finishdates}]]
        let finishdateshtml = [[${finishdateshtml}]]

        let findreplace = {}

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })


        function googleIdSearch(idSearch,startDate,finishDate,startDateHTML,finishDateHTML){

            let results = document.getElementById('results1')


            $.ajax({
                    url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
                    dataType: "json",

                    success: function (data) {

                        let thumbnail
                        let author

                        // use dom to display ajax rtn

                        if (!data.volumeInfo.hasOwnProperty('imageLinks')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
                        else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
                        else {thumbnail = data.volumeInfo.imageLinks.thumbnail}
                        console.log(thumbnail);
                        if (!data.volumeInfo.hasOwnProperty('authors')) {author = "Unknown or not listed"}
                        else {author = data.volumeInfo.authors[0]}
                        if (startDate === null) {startDate = "Not yet started."};
                        if (finishDate === null) {finishDate = "Not finished yet."}

                        var html = '<div class="card col-md-3 col-sm-4 text-center">'

                        html += "<img src='" + thumbnail + "' alt='Book Cover'>"

                        html += '<button href="" class="butn book-selector boo-link" data-google-i-d="'+ idSearch +'" data-startdate="'+startDate+'" data-startdatehtml="'+ startDateHTML+'" data-finishdate="'+ finishDate +'" data-finishdatehtml="'+ finishDateHTML +'" data-bs-toggle="modal" data-bs-target="#myModal">See details</button></div></div>'
                        // html += "<div class='card-bottom1'><p class='card-text'>" + data.volumeInfo.description + "</p></div></div>"

                        results.innerHTML += html;
                        findreplace[idSearch] = data.volumeInfo.title;

                        $('body :not(script)').contents().filter(function () {
                            return this.nodeType === 3;
                        }).replaceWith(function () {
                            return this.nodeValue.replace(idSearch, data.volumeInfo.title)})

                    },


                    type: 'Get',
                }
            )
        }
        if (typeof idsearch == "string") {googleIdSearch(idsearch,startdateshtml,finishdateshtml);}

        else {
            for(let i = 0; i < idsearch.length; i++) {
                googleIdSearch(idsearch[i],startdates[i],finishdates[i],startdateshtml[i], finishdateshtml[i]);
            }
        }


        const title = document.getElementById('myModalLabel');
        const modalImage = document.getElementById('modalImage');
        const body = document.getElementById('modalBody');
        const startdatetext = document.getElementById('startDateText');
        const finishdatetext = document.getElementById('finishDateText');
        const startdatecalendar = document.getElementById('startDate');
        const finishdatecalendar = document.getElementById('finishDate');
        const modalbookid = document.getElementById('modalbookid');



        function modalPopulate(idSearch,start,finish,startHTML,finishHTML){
            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
                dataType: 'json',
                success: function (data) {
                    let thumbnail
                    let author

                    if (!data.volumeInfo.hasOwnProperty('imageLinks')) {
                        thumbnail = "http://localhost:8080/img/logo-small.png"
                    } else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {
                        thumbnail = "http://localhost:8080/img/logo-small.png"
                    } else {
                        thumbnail = data.volumeInfo.imageLinks.thumbnail
                    }
                    console.log(thumbnail);
                    if (!data.volumeInfo.hasOwnProperty('authors')) {
                        author = "Unknown or not listed"
                    } else {
                        author = data.volumeInfo.authors[0]
                    }

                    title.innerText = data.volumeInfo.title + " - " + author;
                    modalImage.innerHTML = '<img src="' + thumbnail + '">'
                    body.innerHTML = data.volumeInfo.description;
                    startdatetext.innerText = "Currently set to: " + start;
                    finishdatetext.innerText = "Currently set to: " + finish;
                    startdatecalendar.value = startHTML;
                    finishdatecalendar.value = finishHTML;
                    modalbookid.value = idSearch;
                },

                type: 'Get'

            });
        }

        setTimeout(function() {

                $('.book-selector').click(function() {
                    // console.log(this);
                    modalPopulate(this.dataset.googleID, this.dataset.startdate, this.dataset.finishdate, this.dataset.startdatehtml, this.dataset.finishdatehtml)
                })
            }
            , 750)
    </script>
</body>
</html>