<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="partials.html :: head('Meeting Detailed Information :: Not Another Bookclub')">
    <title>Title</title>
</head>
    <link rel="stylesheet" href="/css/meeting-create.css">
    <link rel="stylesheet" href="/css/utils.css">
    <script src="/js/magical_library_background_progressive.js"></script>

<body>
    <nav th:replace="partials.html :: navbar"></nav>

    <div class="container">
        <div id="meeting-form">
            <div class="breadcrumbMeeting narrow-body">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/bookclubs/' + ${bookclub.id}}">Bookclub</a></li>
                        <li class="breadcrumb-item" aria-current="page">Meeting</li>
                    </ul>
                </nav>
            </div>

            <div class="row">
                <div class="d-none d-lg-block col-lg-6 py-1 my-2">
                    <img class="img-fluid" src="/img/dinnerwithfriends.jpg">
                </div>
                <div class="col-12 col-lg-6 py-1 my-2">
                    <div class="pro-card">
                        <div class="form-meeting">
                            <div th:if="${isOwner}" class="">
                                you own this. Wanna edit it?
                                <a class="btn btn-warning" th:href="@{'/bookclubs/' + ${bookclub.id} + '/meeting/' + ${meeting.id} + '/edit'}">Edit</a>
                            </div>
                            <h2 class="">
                                <span th:text="${bookclub.name}"></span> Meeting.
                            </h2>

                            <div class="">
                                <h4 >The book to be discussed:</h4>
                                <div id="results1"></div>
                            </div>

                            <div class="">
                                <p>
                                    The meeting is scheduled for <span th:text="${#dates.format(meeting.timedate,'E, MMM dd yyyy HH:mm:ss')}"></span>
                                </p>
                                <p>
                                    This meeting is being held at: a <span th:text="${meeting.location.toString().toLowerCase()}"></span>
                                </p>
                                <p th:if="${ismemberactive}">
                                    This meeting is being held at: <span th:text="${meeting.getAddress()}"></span>,
                                    <span th:text="${meeting.getCity()}"></span>, <span th:text="${meeting.zipPlusFour}"></span>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>




        <div class="narrow-body">
            <p>The meeting is scheduled for <span th:text="${#dates.format(meeting.timedate,'E, MMM dd yyyy HH:mm:ss')}"></span></p>
            <p>This meeting is being held at: a <span th:text="${meeting.location.toString().toLowerCase()}"></span></p>
            <p th:if="${ismemberactive}">This meeting is being held at: <span th:text="${meeting.getAddress()}"></span>,
            <span th:text="${meeting.getCity()}"></span>, <span th:text="${meeting.zipPlusFour}"></span></p>
        </div>
<!--        <div th:if="${isowner}" style="border: 2px solid black">-->
<!--            <span>These will only show if you own the club.</span>-->
<!--            <button class="btn btn-warning">Edit?</button>-->
<!--            <button class="btn btn-danger">Delete?</button>-->
<!--        </div>-->

    </div>
    <div th:replace="partials.html::bookclubmodal"></div>

    <footer th:replace="partials.html::footer"></footer>
<script th:inline="javascript">
        let idsearch = [[${books}]]
        let startdates = [[${startdates}]]
        let startdateshtml = [[${startdateshtml}]]
        let finishdates = [[${finishdates}]]
        let finishdateshtml = [[${finishdateshtml}]]

        let findreplace = {}

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })


        function googleIdSearch(idSearch,startDate,finishDate,startDateHTML,finishDateHTML){
// console.log("This function runs");
// let idSearch = document.getElementById('search google_id').value
            let results = document.getElementById('results1')
// console.log("search google_id")

            $.ajax({
                    url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
                    dataType: "json",

                    success: function (data) {

                        let thumbnail
                        let author

                        // use dom to display ajax rtn

                        if (!data.volumeInfo.hasOwnProperty('imageLinks')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
                        else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
                        else {thumbnail = data.volumeInfo.imageLinks.thumbnail}
                        console.log(thumbnail);
                        if (!data.volumeInfo.hasOwnProperty('authors')) {author = "Unknown or not listed"}
                        else {author = data.volumeInfo.authors[0]}
                        if (startDate === null) {startDate = "Not yet started."};
                        if (finishDate === null) {finishDate = "Not finished yet."}

                        var html = '<div class="card col-md-3 col-sm-4 text-center">'
                        // html += "<img src='https://books.google.com/books/content?id=" + data.items[i].id + "&printsec=frontcover&img' alt='Book Cover'>"
                        html += "<img src='" + thumbnail + "' alt='Book Cover'>"
                        // html += "<div class='card-body'>"
                        // html += "<h5 class='card-title'>" + data.volumeInfo.title + " - " + data.volumeInfo.authors[0] + "</h5><br>"
                        // html += "<h6> Started reading: "+ startDate +"</h6>"
                        // html += "<h6> Finished reading: "+ finishDate +"</h6></div>"
                        // // html += '<div><a href="#" class="btn btn-primary" id="'+ idSearch +'">Remove from reading list</a>'
                        html += '<button href="" class="butn book-selector boo-link" data-google-i-d="'+ idSearch +'" data-startdate="'+startDate+'" data-startdatehtml="'+ startDateHTML+'" data-finishdate="'+ finishDate +'" data-finishdatehtml="'+ finishDateHTML +'" data-bs-toggle="modal" data-bs-target="#myModal">See details</button></div></div>'
                        // html += "<div class='card-bottom1'><p class='card-text'>" + data.volumeInfo.description + "</p></div></div>"

                        results.innerHTML += html;
                        findreplace[idSearch] = data.volumeInfo.title;

                        $('body :not(script)').contents().filter(function () {
                            return this.nodeType === 3;
                        }).replaceWith(function () {
                            return this.nodeValue.replace(idSearch, data.volumeInfo.title)})

                    },


                    type: 'Get',
                }
            )
        }
        if (typeof idsearch == "string") {googleIdSearch(idsearch,startdateshtml,finishdateshtml);}
            // console.log("This book is a string!")
            // $(".card-bottom1").hide()
            // console.log("Firing after the hide from string!")
            // $('.card-top1').click(function() {
            // console.log("I'm firing from the click listener!")
            // let thisCardBottom = $(this).next()
            // // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
            // $(".card-bottom1").not(thisCardBottom).slideUp(500)
        // $(this).next().slideToggle(1000)})}
        else {
            for(let i = 0; i < idsearch.length; i++) {
                googleIdSearch(idsearch[i],startdates[i],finishdates[i],startdateshtml[i], finishdateshtml[i]);
            }
        }
        // console.log("These books are a list!")
        // $(".card-bottom1").hide()
        //     console.log("Firing after the hide from list!")
        // $('.card-top1').click(function() {
        //     console.log("I'm firing from the click listener!")
        //     let thisCardBottom = $(this).next()
        //     // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
        //     $(".card-bottom1").not(thisCardBottom).slideUp(500)
        //     $(this).next().next().slideToggle(1000)}

        const title = document.getElementById('myModalLabel');
        const modalImage = document.getElementById('modalImage');
        const body = document.getElementById('modalBody');
        const startdatetext = document.getElementById('startDateText');
        const finishdatetext = document.getElementById('finishDateText');
        const startdatecalendar = document.getElementById('startDate');
        const finishdatecalendar = document.getElementById('finishDate');
        const modalbookid = document.getElementById('modalbookid');



        function modalPopulate(idSearch,start,finish,startHTML,finishHTML){
            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
                dataType: 'json',
                success: function (data) {
                    let thumbnail
                    let author

                    if (!data.volumeInfo.hasOwnProperty('imageLinks')) {
                        thumbnail = "http://localhost:8080/img/logo-small.png"
                    } else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {
                        thumbnail = "http://localhost:8080/img/logo-small.png"
                    } else {
                        thumbnail = data.volumeInfo.imageLinks.thumbnail
                    }
                    console.log(thumbnail);
                    if (!data.volumeInfo.hasOwnProperty('authors')) {
                        author = "Unknown or not listed"
                    } else {
                        author = data.volumeInfo.authors[0]
                    }

                    title.innerText = data.volumeInfo.title + " - " + author;
                    modalImage.innerHTML = '<img src="' + thumbnail + '">'
                    body.innerHTML = data.volumeInfo.description;
                    startdatetext.innerText = "Currently set to: " + start;
                    finishdatetext.innerText = "Currently set to: " + finish;
                    startdatecalendar.value = startHTML;
                    finishdatecalendar.value = finishHTML;
                    modalbookid.value = idSearch;
                },

                type: 'Get'

            });
        }

        setTimeout(function() {
                //This was the original version set to run on a timeout, instead of set to run on the success.
                // if (typeof idsearch == "string")
                // {$('body :not(script)').contents().filter(function () {
                //     return this.nodeType === 3;
                // }).replaceWith(function () {
                //     return this.nodeValue.replace(idsearch, findreplace[idsearch])})
                //
                // }
                // else {
                // for (let i = 0; i < idsearch.length; i++) {
                //     $('body :not(script)').contents().filter(function () {
                //         return this.nodeType === 3;
                //     }).replaceWith(function () {
                //         return this.nodeValue.replace(idsearch[i], findreplace[idsearch[i]]);
                //     })
                // }

                // $("* :contains(idsearch[i])").each(function() {
                //     var replaced = $(this).html().replace(/idsearch[i]/g, findreplace[idsearch[i]])
                //     $(this).html(replaced);
                // })
                // }
                // document.getElementsByClassName('book-selector').click(function (e){
                //     e.preventDefault()
                //     document.getElementById('book').value = this.id;
                // })
                $('.book-selector').click(function() {
                    // console.log(this);
                    modalPopulate(this.dataset.googleID, this.dataset.startdate, this.dataset.finishdate, this.dataset.startdatehtml, this.dataset.finishdatehtml)
                })
            }
            , 750)
    </script>
</body>
</html>