<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/posts.css">
<link rel="stylesheet" href="/css/utils.css">
<html lang="en">
<head th:include="partials.html::head('A detailed view of this post')">
    <meta charset="UTF-8">
    <title>Detailed view of this post</title>
</head>
<body>
<div th:replace="partials.html::navbar"></div>



<div class="container" id="post-content">
<!--    BREAD CRUMB-->
    <div id="breadcrumbPosts" class="narrow-body mb-3">
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/bookclubs/__${bookclub.id}__}">Bookclub</a></li>
                <li class="breadcrumb-item" aria-current="page">Post</li>
            </ul>
        </nav>
    </div>

    <div class="narrow-body post-body p-3">
        <div class="p-3">
        <h1 class="text-center"> <span th:text="${post.title}"></span></h1>
        <hr class="acc-bar">

        <h5 th:text="${post.getBody()}">Body will go here.</h5>
        <p>
            Posted by: <span th:text="${post.author.getUsername()}"></span> - <a th:href ="@{/profile/__${post.author.username}__}">profile</a> - <a th:href="'mailto:' + ${post.author.email}">email</a>
        </p>

        <div th:if="${isAuthor}" class="narrow-body">
            <div class="center-text p-2 m-2">
                <a th:href="@{'/bookclubs/'+ ${post.bookclub.id} +'/posts/'+ ${post.id} + '/edit'}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="deleteModalLabel">Confirm delete?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deleting your blog post cannot be undone! Are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <!--                    <form th:action="@{/posts/__${post.id}__}" method="post">-->
                            <form action="/posts/delete" method="post">
                                <input hidden name="id" th:value="${post.id}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


<!--    <div id="results1" class="narrow-body"></div>-->

<!--    <div class="p-2 narrow-body">-->

<!--    </div>-->
<!--    <br><p>Posted: <span th:text="${post.created_on_string}"></span>. Last updated: <span th:text="${post.modified_on_string}"></span> </div>-->



    <div th:each="comment : ${post.getComments()}" th:class="narrow-body">
        <div class="card">
            <div class="card-body">
                <span th:text="${comment.author.username}"></span> on <span class="text-muted" th:text="${#dates.format(comment.createDate,'E, MMM dd yyyy HH:mm:ss')}"></span><br>
              <div class="d-flex justify-content-between"><div><img th:src="${comment.author.getAvatar_path()}" height="30px" width="30px"> <span th:text="${comment.comment}"></span></div>
                  <div><span th:if="${user.id == comment.author.id}"><form th:action="@{'/bookclubs/'+ ${post.bookclub.id} +'/posts/'+ ${post.id}+'/comment/delete'}" method="post"><input hidden name="id" th:value="${comment.id}"><button type="submit" class="btn btn-danger">Delete</button></form></span></div></div>
            </div>
        </div>
    </div>
    <div class="narrow-body post-body p-3">
        <div th:if="${loggedin != null}"  class="p-3">
<!--            <form th:action="@{'/posts/'+ ${post.id}+'/comment'}" th:method="post" th:object="${comment}"> I'm not sure why the form binding didn't work - but this solution did and was much easier-->
            <form th:action="@{'/bookclubs/'+ ${post.bookclub.id} +'/posts/'+ ${post.id}+'/comment'}" method="post" >
            <div class="input-group mb-3">
                <input class="form-control" name="comment" id="comment" type="text" placeholder="Add A Comment">
<!--                    <input class="form-control" th:field="*{comment}" type="text">-->
                    <button class="butn pro-link" type="submit">Submit</button></div>

            </form>
        </div>


    </div>
</div>

<!--<div th:replace="partials.html::bookclubmodal"></div>-->

    <footer th:replace="partials.html::footer"></footer>
<!--<script th:replace="partials.html::bookdisplay(${post.book.googleID})"></script>-->
</body>
</html>