<!DOCTYPE html>
<html lang= en xmlns:th="http://www.thymeleaf.org">



<html lang="en">
<head th:include="partials.html::head('Create a new Bookclub!')" >
    <meta charset="UTF-8">
<!--    <title>You shouldn't see this title!</title>-->
<!--    <link rel="stylesheet" href="/css/createBookclub.css">-->

</head>
    <link rel="stylesheet" href="/css/createBookclub.css">
    <link rel="stylesheet" href="/css/utils.css">
<script src="/js/magical_library_background_progressive.js"></script>
<!--    <link rel="stylesheet" href="/css/show-bookclub.css">-->
<!--<link rel="stylesheet" href="/css/create-club.css">-->
<body>


<!--                Navbar-->
    <div th:replace="partials.html::navbar">You shouldn't see this.</div>

<!--                    Navbar end-->


<!--            MODIFIED PAGE-->
  <div class="container">
    <div class="pro-card narrow-body">
    <div class="d-flex flex-column flex-md-row justify-content-center p-3">
        <div class="">
            <h1>Thanks for starting a new bookclub, here's what we need to know....</h1>

            <form th:action="@{/bookclubs/create}" th:method="post" th:object="${bookclub}">
                <div class="mb-3">
                    <input class="input" placeholder="Name of Bookclub" th:field="*{name}" type="text" maxlength="255" required>
                </div>
                <div class="mb-3">
                    <textarea class="input" rows="3" maxlength="255" th:field="*{description}" placeholder="Details of Meeting">Who are your ideal members? What types of books do you want to read? Where and how often would you like to meet?</textarea>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{accepting_members}" checked>
                        <label class="form-check-label" for="accepting_members">
                            Are you accepting new members? <span>If you uncheck this box, other users will not be able to ask to join your bookclub. We set this to yes by default, because we want you to meet new book-friends.</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{is_private}" checked>
                        <label class="form-check-label" for="is_private">
                            Would you like to list your bookclub to be private? <span>If you check this box, other users won't be able to see your bookclub to ask to join it. We set this to no by default, because we want you to meet new book-friends.</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <input disabled class="input" th:value="*{owner.username}" id="username" type="text">
                </div>

                <button class="butn meeting-link text-center" value="Create Bookclube">Create BookClub</button>
            </form>
        </div>
    </div>

  </div>

</div>

<!--                MODIFIED PAGE END-->


<!--                FOOTER START-->
<footer th:replace="partials.html::footer"></footer>
<!--                    FOOTER END-->

</body>
</html>