<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="partials.html::head('A detailed view of this bookclub')">
    <meta charset="UTF-8">
    <title>Detailed view of this post</title>
</head>
<body>
<div th:replace="partials.html::navbar"></div>
<div class="container">
<h1 th:text="${bookclub.name}"></h1>

<p th:text="${bookclub.description}"></p>
    <div th:if="${user}">
        <form th:if="${isNotMember}" th:action="@{'/bookclubs/invite/' + ${bookclub.id}}" th:method="post" th:object="${bookclub}">
            <input type="submit" class="btn btn-danger" value="Join">
        </form>
    </div>

    <div th:if="${isOwner}">
        <h2>You own this Bookclub</h2>
        <div th:each="user : ${pendingUsers}" class="text-center">
            <div class="container">
                <h1 th:text="${user.username}"></h1>
                <p>Wants to join</p>

<!--                <form th:action="@{'/bookclubs/invite/accept/' + ${bookclub.id} + '/' + ${user.id}}" th:method="post" th:object="${bookclub}">-->
<!--                    <input type="submit" class="btn btn-success" value="Accept">-->
<!--                </form>-->

<!--                <a th:href=""></a>-->

            </div>

        </div>
    </div>


<p>This bookclub is led by: <span th:text="${bookclub.owner.username}"></span> - <a th:href="@{/pro/__${bookclub.owner.id}__}">profile</a> </p>


    <h1>This is a list passed from the controller</h1>
    <ul>
<!--    <li th:each="member : ${members}"><span th:text="${member.user.username}"></span> joined <span th:text="${#dates.format(member.changedDate,'E, MMM dd yyyy HH:mm:ss')}"></span>. Current status is :<span th:text="${member.getStatus()}"></span></li>-->
    <li th:each="member : ${members}"><span th:text="${member.username}"></span> joined
<!--&lt;!&ndash;        <span th:text="${#dates.format(member.getBookclubs().get(member.getBookclubs().indexOf(bookclub.id)).changedDate,'E, MMM dd yyyy HH:mm:ss')}"></span>.-->
<!-- Current status is :<span th:text="${member.getBookclubs().get(member.getBookclubs().indexOf(bookclub.id)).status}"></span>-->
    </li>
    </ul>


    <h1>Here's the books from a separate list:</h1>
    <ul>
        <li th:each="book : ${books}"><span th:text="${book.googleID}"></span> </li>
    </ul>


<!--<div th:if="${user != null && !isOwner}">-->
<!--    <div th:if="${bookclub.accepting_members}">-->
<!--        <form th:action="@{'/bookclubs/' + ${bookclub.id} +'/join'}" method="post">-->
<!--            <input hidden name="id" th:value="${user.id}">-->
<!--            <button type="submit" class="btn btn-success">Ask to Join this Bookclub!</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<div th:if="${isowner}"><div th:replace="partials.html :: booksearch"></div></div>
    <br>
    <br>
</div>
<footer th:replace="partials.html::footer"></footer>
<div th:if="${isowner}"><script th:replace="partials.html::booksearchscript('bookclub',${bookclub.id})"></script></div>
</body>
</html>