<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials.html::head('Your bookshelf')" >
    <meta charset="UTF-8" />



</head>
<link rel="stylesheet" href="/css/bookshelf.css">


<body>
<!--    NAVBAR-->
<div th:replace="partials.html::navbar">You shouldn't see this.</div>
<!--    END NAVBAR-->

<div class="container">
    <div class="narrow-body">
    <h2>Here's a look at all of your books, <span th:text="${user.username}"></span></h2>
    <div>
        <h4>Click the "User" or "Bookclub" buttons to find other users and bookclubs who have read (or plan to read) the books you like.</h4>
<div class="row row-col-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 my-3" id="results1"></div>
    <div class="pro-card my-3 p-3 d-none" id="usercard"><div class="hidden-content my-2 py-2">
        <h2 id="resultsuserheadline" class="d-none text-center my-2 py-2">Here are the other users that have read <span id="bookname1">that book</span>:</h2>
<!--        <div class="" id="resultsuser"></div></div></div>-->
<!--<div class="pro-card my-3 p-3 d-none" id="bookclubcard"><div class="hidden-content my-2 py-2"><h2 id="resultsbookclubheadline" class="d-none text-center my-2 py-2">Here are bookclubs that have read or are planning to read <span id="bookname2">that book</span>:</h2>-->
    <div class="" id="resultsbookclub"></div></div></div>

    </div>
 <div class="text-body"><div th:replace="partials.html::usermodal"></div></div>
</div>
</div>
</div>
<footer th:replace="partials.html::footer"></footer>

<script th:inline="javascript">
        let idsearch = [[${books}]]
        let startdates = [[${startdates}]]
        let startdateshtml = [[${startdateshtml}]]
        let finishdates = [[${finishdates}]]
        let finishdateshtml = [[${finishdateshtml}]]
        let userid = [[${user.id}]]

        let findreplace = {}

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })


        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
        })


        function googleIdSearch(idSearch,startDate,finishDate,startDateHTML,finishDateHTML){
// console.log("This function runs");
// let idSearch = document.getElementById('search google_id').value
let results = document.getElementById('results1')
// console.log("search google_id")

$.ajax({
url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
dataType: "json",

success: function (data) {

let thumbnail
let author

// use dom to display ajax rtn

if (!data.volumeInfo.hasOwnProperty('imageLinks')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
else {thumbnail = data.volumeInfo.imageLinks.thumbnail}
console.log(thumbnail);
if (!data.volumeInfo.hasOwnProperty('authors')) {author = "Unknown or not listed"}
else {author = data.volumeInfo.authors[0]}
if (startDate === null) {startDate = "Not yet started."};
if (finishDate === null) {finishDate = "Not finished yet."}

var html = '<div class="col my-3"><div class="card h-100 text-center text-body">'
    // html += "<img src='https://books.google.com/books/content?id=" + data.items[i].id + "&printsec=frontcover&img' alt='Book Cover'>"
    html += "<img src='" + thumbnail + "' alt='Book Cover'>"
    html += "<div class='card-body'>"
        html += "<h5 class='card-title'>" + data.volumeInfo.title + " - " + data.volumeInfo.authors[0] + "</h5></div><br>"
        // html += "<h6> Started reading: "+ startDate +"</h6>"
        // html += "<h6> Finished reading: "+ finishDate +"</h6></div>"
    html += '<div class="card-footer"><div class="d-flex flex-column justify-content-between">'
        html += '<div class="my-1"><button href="" class="butn book-selector meeting-link" data-google-i-d="'+ idSearch +'" data-booktitle="' + data.volumeInfo.title + '" data-startdate="'+startDate+'" data-startdatehtml="'+ startDateHTML+'" data-finishdate="'+ finishDate +'" data-finishdatehtml="'+ finishDateHTML +'" data-bs-toggle="modal" data-bs-target="#myModal">See details</button></div>'
        html += '<div class="my-1"><button class="butn bookclub-search meeting-link" data-google-i-d="'+ idSearch +'" data-booktitle="' + data.volumeInfo.title + '" data-bs-toggle="popover" title="Find Other Users Reading This Book" data-bs-content="This button allows you to search NAB to find bookclubs that have read (or plan to read) this book.">Bookclubs</button></div>'
        html += '<div class="my-1"><button class="butn user-search meeting-link" data-google-i-d="'+ idSearch +'" data-booktitle="' + data.volumeInfo.title + '" data-bs-toggle="popover" title="Find Other Users Reading This Book" data-bs-content="This button allows you to search NAB users to find other people that have read (or plan to read) this book.">Users</button></div></div></div>'

results.innerHTML += html;
findreplace[idSearch] = data.volumeInfo.title;

$('body :not(script)').contents().filter(function () {
return this.nodeType === 3;
}).replaceWith(function () {
return this.nodeValue.replace(idSearch, data.volumeInfo.title)})

},


type: 'Get',
}
)
}
if (typeof idsearch == "string") {googleIdSearch(idsearch,startdateshtml,finishdateshtml);}
// console.log("This book is a string!")
// $(".card-bottom1").hide()
// console.log("Firing after the hide from string!")
// $('.card-top1').click(function() {
// console.log("I'm firing from the click listener!")
// let thisCardBottom = $(this).next()
// // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
// $(".card-bottom1").not(thisCardBottom).slideUp(500)
// $(this).next().slideToggle(1000)})}
else {
for(let i = 0; i < idsearch.length; i++) {
googleIdSearch(idsearch[i],startdates[i],finishdates[i],startdateshtml[i], finishdateshtml[i]);
}
}
// console.log("These books are a list!")
// $(".card-bottom1").hide()
//     console.log("Firing after the hide from list!")
// $('.card-top1').click(function() {
//     console.log("I'm firing from the click listener!")
//     let thisCardBottom = $(this).next()
//     // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
//     $(".card-bottom1").not(thisCardBottom).slideUp(500)
//     $(this).next().next().slideToggle(1000)}

const title = document.getElementById('myModalLabel');
const modalImage = document.getElementById('modalImage');
const body = document.getElementById('modalBody');
const startdatetext = document.getElementById('startDateText');
const finishdatetext = document.getElementById('finishDateText');
const startdatecalendar = document.getElementById('startDate');
const finishdatecalendar = document.getElementById('finishDate');
const modalbookid = document.getElementById('modalbookid');


function findUsersWithSameBook(googleID, booktitle) {
    $.ajax({
        url: "/pro/" + userid + "/bookshelf/user.json?gid=" + googleID,
        dataType: "json",
        success: function (data) {
            let html
            if (data.length == 0) {
                html = "<h3>I'm sorry, so far no one else is reading " + booktitle +". Try another?</h3>"
                document.getElementById('resultsbookclub').innerHTML = html;
                $('#usercard').removeClass("d-none")
                if (!$('#resultsuserheadline').hasClass('d-none')) {$('#resultsuserheadline').addClass('d-none')}
            }
            else {html = "<ul class='my-2 py-2'>"
                for (let i = 0; i < data.length; i++){
                    html += "<li class='py-2 my-2'><a href='/pro/" + data[i].id + "'><img src='"+ data[i].avatar_path +"' height='50px' class='avatar'> "+ data[i].username + "</a> has also read " + booktitle + "</li>";
                } html += "</ul>"


                document.getElementById('resultsbookclub').innerHTML = html;
                document.getElementById('resultsuserheadline').innerText = "Here are the other users that have read " + booktitle + ":";
                // if ($('#resultsuserheadline').hasClass("d-none")) {$('#resultsuserheadline').removeClass("d-none")}
                if ($('#resultsuserheadline').hasClass('d-none')) {$('#resultsuserheadline').removeClass("d-none")}
                if ($('#usercard').hasClass('d-none')) {$('#usercard').removeClass("d-none")}

            }
        console.log(data)},
        type: 'Get'
    })
}

function findBookclubsWithSameBook(googleID, booktitle) {
    $.ajax({
        url: "/pro/" + userid + "/bookshelf/bookclub.json?gid=" + googleID,
        dataType: "json",
        success: function (data) {
            let html
            if (data.length == 0) {
                html = "<h3>I'm sorry, so far no other bookclub is reading " + booktitle +". Try another?</h3>"
                document.getElementById('resultsbookclub').innerHTML = html;
                if ($('#usercard').hasClass('d-none')) {$('#usercard').removeClass("d-none")}
                if (!$('#resultsuserheadline').hasClass('d-none')) {$('#resultsuserheadline').addClass('d-none')}
            }
            else {html = "<ul class='my-2 py-2'"
                for (let i = 0; i < data.length; i++){
                    html += "<li class='py-2 my-2'><a href='/bookclubs/" + data[i].id + "'>"+ data[i].name + "</a> has also read " + booktitle +"</li>";
                }
                html += "</ul>"

                if ($('#usercard').hasClass('d-none')) {$('#usercard').removeClass("d-none")}
                document.getElementById('resultsbookclub').innerHTML = html;
                document.getElementById('resultsuserheadline').innerText = "Here are bookclubs that have read or are planning to read " + booktitle + ":";
                if ($('#resultsuserheadline').hasClass("d-none")) {$('#resultsuserheadline').removeClass("d-none")}
                // if ($('#resultsbookclubheadline').hasClass('d-none')) {$('#resultsbookclubheadline').removeClass("d-none")}
                // if ($('#boo').hasClass('d-none')) {$('#bookclubcard').removeClass("d-none")}
            }
        console.log(data)},
        type: 'Get'
    })
}


function modalPopulate(idSearch,start,finish,startHTML,finishHTML){
$.ajax({
url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
dataType: 'json',
success: function (data) {
let thumbnail
let author

if (!data.volumeInfo.hasOwnProperty('imageLinks')) {
thumbnail = "http://localhost:8080/img/logo-small.png"
} else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {
thumbnail = "http://localhost:8080/img/logo-small.png"
} else {
thumbnail = data.volumeInfo.imageLinks.thumbnail
}
console.log(thumbnail);
if (!data.volumeInfo.hasOwnProperty('authors')) {
author = "Unknown or not listed"
} else {
author = data.volumeInfo.authors[0]
}

title.innerText = data.volumeInfo.title + " - " + author;
modalImage.innerHTML = '<img src="' + thumbnail + '">'
body.innerHTML = data.volumeInfo.description;
startdatetext.innerText = "Currently set to: " + start;
finishdatetext.innerText = "Currently set to: " + finish;
startdatecalendar.value = startHTML;
finishdatecalendar.value = finishHTML;
modalbookid.value = idSearch;
},

type: 'Get'

});
}

setTimeout(function() {
//This was the original version set to run on a timeout, instead of set to run on the success.
// if (typeof idsearch == "string")
// {$('body :not(script)').contents().filter(function () {
//     return this.nodeType === 3;
// }).replaceWith(function () {
//     return this.nodeValue.replace(idsearch, findreplace[idsearch])})
//
// }
// else {
// for (let i = 0; i < idsearch.length; i++) {
//     $('body :not(script)').contents().filter(function () {
//         return this.nodeType === 3;
//     }).replaceWith(function () {
//         return this.nodeValue.replace(idsearch[i], findreplace[idsearch[i]]);
//     })
// }

// $("* :contains(idsearch[i])").each(function() {
//     var replaced = $(this).html().replace(/idsearch[i]/g, findreplace[idsearch[i]])
//     $(this).html(replaced);
// })
// }
// document.getElementsByClassName('book-selector').click(function (e){
//     e.preventDefault()
//     document.getElementById('book').value = this.id;
// })
$('.book-selector').click(function() {
// console.log(this);
modalPopulate(this.dataset.googleID, this.dataset.startdate, this.dataset.finishdate, this.dataset.startdatehtml, this.dataset.finishdatehtml)
})
$('.bookclub-search').click(function () {
findBookclubsWithSameBook(this.dataset.googleID, this.dataset.booktitle)
})
$('.user-search').click(function() {
findUsersWithSameBook(this.dataset.googleID, this.dataset.booktitle)
})
}
, 750) </script>
</body>
</html>
