<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials.html::head('Login Here')" >
    <meta charset="UTF-8" />
    <title>Forgot-Username</title>
</head>
<body>
<div th:replace="partials.html::visitor-navbar">You shouldn't see this.</div>


<div class="d-flex justify-content-center">
    <div class="col-sm-8 col-md-6 p-3">
        <form th:action="@{/forgot-username}" method="POST" th:object="${user}">
<!--            <label class="form-label mt-3" for="username">Username</label>-->
<!--            <input class="form-control mb-3" th:field="*{username}" />-->

            <label class="form-label mt-3" for="email">Email</label>
            <input class="form-control mb-3" type="text" name="email" id="email" />

<!--            <input class="form-control mb-3" th:field="*{email}" />-->

<!--            <label class="form-label mt-3" for="password">Password</label>-->
<!--            <input class="form-control mb-3" type="password" th:field="*{password}" />-->



            <button class="btn" type="submit">Submit!</button>
        </form>

        <div></div>

        <h3 th:text="${email}"></h3>

    </div>

</div>
</div>
<footer th:replace="partials.html::footer"></footer>
</body>
</html>
