<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials.html::head('Login Here')" >
    <meta charset="UTF-8" />
    <title>Sign up</title>

</head>
<head>
<!--    CSS-->
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/profile">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/static/css/utils.css">
<!--    CSS END-->

</head>
<body id="login-background">
    <div th:replace="partials.html::navbar">You shouldn't see this.</div>



    <div class="d-flex justify-content-center narrow-body">
        <div class="col-sm-8 p-3 pro-card ">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}" class=" p-3">
                <div class="text-center">
                    <div th:if="${user.username == null}" class="">
                        <h1>Create an account</h1>
                    </div>
                    <div th:if="${alert != null}">
                        <h1 class="text-white">Create an account</h1>
                    </div>

                </div>

<!--                <label class="form-label mt-3 text-white" for="username">Username</label>-->
                <input class="input mb-3" th:field="*{username}" placeholder="Username"/>


                <input class="input mb-3" th:field="*{email}" placeholder="Email"/>

                <input class="input mb-3" type="password" th:field="*{password}" placeholder="Password"/>

                <input class="input  mb-3"  th:field="*{avatar_path}" placeholder="Avatar Link"/>

                <div class="input-group" id="realname">
                    <input type="text" aria-label="First name" class="input  mb-3" th:field="*{firstname}" placeholder="First Name">
                    <input type="text" aria-label="Last name" class="input  mb-3" th:field="*{lastname}" placeholder="Last Name">
                </div>

                <input class="input  mb-3 d-none" th:field="*{zipcode}" placeholder="Zip Code"/>


                <textarea class="input mb-3" rows="6" th:field="*{bio}" placeholder="Your Bio Here...."/>

                <button class="butn meeting-link" type="submit" >Sign me up!</button>
            </form>
        </div>
    </div>
</div>
<!--    FOOTER-->
<footer th:replace="partials.html::footer"></footer>
<!--    FOOTER END-->
</body>
</html>
