<!DOCTYPE html>
<html lang="en" xmlns:th="http//:www.thymeleaf.org">
<header th:replace="partials.html::head(${error})"></header>
    <meta charset="UTF-8">
<title th:text=" 'Ooops, ' + ${error}" ></title>


<head>
    <meta charset="UTF-8">
    <title th:text=" 'Ooops, ' + ${error}" ></title>
</head>

<!--    css link-->
<link rel="stylesheet" href="/css/error.css">
<body>

    <div>

    <nav th:replace="partials.html::navbarnologic"></nav>

    </div>

<div class="container">

    <div class="d-flex flex-column justify-content-center">
        <div class="text-center my-4 py-2">

            <h1>Oh no! What happened?</h1>
            <h3>We might've forgot to cross our "t", or dot our "i".</h3>
            <img src="/img/buriedbybooks.jpg" width="500px">
            <p>We'll fix it, though. Sorry if our pages got a little creased. But besides going back the way you came, you can also check out <a href="/bookclubs">all the current bookclubs</a> to find a place to hang out.</p>

        </div>

    </div>

</div>

<!--            footer start-->
    <div>
        <footer th:replace="partials.html::footer">

        </footer>
    </div>
<!--                footer end-->


</body>
</html>