h1{
    text-align: center;
}

h1, h2, h3{
    font-family: serif;
}

p h4, h5, h5{
    font-family: sans-serif;
}

.card{
    text-align: center;
}

.card-img-top{
    /*justify-content: center;*/
    /*border-radius: 50%;*/
}

.fa-linkedin {
    color: #0a66c2;
    height: 50px;
    width: 50px;
    transition-duration: .5s;
}

.fa-linkedin:hover {
    transform: scale(1.1);
}

.fa-github {
    color: black;
    height: 50px;
    width: 50px;
    transition-duration: .5s;
}

.fa-github:hover {
    transform: scale(1.1);
}

.codeup {
    transition-duration: .5s;
    height: 50px;
    width: 50px;
}

.codeup:hover {
    transform: scale(1.1);
}

.credits {
    max-height: 82px;
}

/*.headshot{*/
/*    max-height: 549px;*/
/*    height: auto;*/
/*    width: auto;*/
/*    !*max-width: 100%;*!*/
/*    !*height: auto;*!*/
/*}*/

/*<img src="img/Veteran.jpeg" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">*/

