body {
    /*background-color: red;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
     url("/img/womaninabookshelf.jpg");
    background-position: center;
    background-size: cover;
}

:root {
    /*--left: hsla(240, 100%, 0%, 0.65);*/
    /*--right: hsla(195, 53%, 79%, 0.65);*/
    /*--right: hsla(240, 100%, 40%, 0.65);*/
    --profile: #30536C;
    --bookclub: darkblue;
}

/*Styling that wraps the accordion*/
.pro-card {
    background: var(--bookclub);
    opacity: 0.9;
    padding: 2rem;
    margin-bottom: 30px;
}

.pro-card div {
    background: black;
    color: white;
}

.boo-link {
    color: white;
    background: var(--bookclub);
}