p, h4, h5, h6{
    font-family: sans-serif;
    color: gray;


}

h1, h2, h3{
    font-family: "serif";
    color: gray;

}

/*body {*/
/*    background-color: red;*/
/*    background-image:*/
/*            !*linear-gradient(    rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)    ),*!*/

/*        !*url("../img/teddy-roosevelt.jpg");*!*/
/*    !*url("/img/Hogwarts.jpg");*!*/
/*    background-position: center;*/
/*    background-size: cover;    !*animation: ease-in 2s;*!*/
/*    !*font-family: 'Playfair Display SC', Serif;*!*/
/*}*/
body{
background: url('../img/darkLibrary.jpg') no-repeat center;
    background-color: rgba(0, 0, 0, 0.2);
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
color: gray;
}