/*h4, h5, h6{*/
/*    font-family: sans-serif;*/
/*    !*color: #23B023;*!*/
/*     !*color: white;*!*/
/*     color: white;*/


/*}*/

/*h1, h2, h3{*/
/*    font-family: "serif";*/
/*    !*color: #23B023;*!*/
/*    !*color: white;*!*/
/*    color: white;*/

/*}*/

.input {
    color: black;
    border-bottom: 2px solid var(--meeting);
}


/*body {*/
/*    background-color: red;*/
/*    background-image:*/
/*            !*linear-gradient(    rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)    ),*!*/

/*        !*url("../img/teddy-roosevelt.jpg");*!*/
/*    !*url("/img/Hogwarts.jpg");*!*/
/*    background-position: center;*/
/*    background-size: cover;    !*animation: ease-in 2s;*!*/
/*    !*font-family: 'Playfair Display SC', Serif;*!*/
/*}*/

.form-check {
    /*color: lawngreen;*/
    /*color: white;*/
    /*color: #23B023;*/
    color: white;
}


#breadcrumbBookclubs {
    /*border: 2px solid cornflowerblue;*/
    background: var(--bookclub);
    padding: 1rem;
    color: white;
}

/*Styling that wraps the accordion*/
.pro-card {
    background: var(--profile);
    opacity: 0.9;
    padding: 2rem;
    margin-bottom: 30px;
}

.pro-card div {
    background: var(--post);
    color: black;
}


/*THE ACCORDION STYLING*/
details > summary {
    list-style: none;
    background: black;
    color: black;
    opacity: 1;
}

details > summary i {
    transition: transform 0.4s ease;
}

details[open] > summary i {
    transform: rotate(-180deg);
}

details > summary::-webkit-details-marker {
    display: none;
    cursor: pointer;
}

.acc-bar {
    border: 3px solid white;
    color: white;
    background: white;
    margin: 0px;
}


/*INVITES*/
.invite-unit {
    color: white;
    background: darkblue;
    border: 2px solid white;
}

.invite-unit div {
    /*background: black;*/
    color: black;
}

.invite-unit > div {
    max-width: 300px;
}


.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb {
    margin-bottom: 0;
}

