

body{
    background: url('../img/errorPhone.jpg') no-repeat center;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*color: #23B023;*/
    color: dodgerblue;
}