p, h4, h5, h6{
    font-family: sans-serif;

}

h1, h2, h3{
    font-family: "serif";
}

@supports (background-image: filter(url('i.jpg'), blur(1px))) {
    .post-header {
        transform: translateZ(0);
    }
    .post-header-enhanced {
        animation: sharpen .5s both;
    }
    @keyframes sharpen {
        from {
            background-image: filter(url("/img/magicalLibrary.jpg"), blur(20px));
        }
        to {
            background-image: filter(url("/img/magicalLibrary.jpg"), blur(0px));
        }
    }
}