p{
    font-family: sans-serif;

}

h1, h2, h3{
    font-family: "serif";
}

body {
    background-color: red;
    background-image: linear-gradient(    rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)    ),

    /*url("../img/teddy-roosevelt.jpg");*/
    url("/img/magicalLibrary.jpg");
    background-position: center;
    background-size: cover;    /*animation: ease-in 2s;*/
    font-family: 'Playfair Display SC', Serif;
}