a {
    color: white;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover {
    color: var(--bookclub);

}

.card {
    flex-direction: row; !important;
    background-color: #563e2b;
}