/*:root {*/
/*    --white: #FEFFFE;*/
/*    --lavendar: #E9EBF8;*/
/*    --cadetblue: #B4B8C5;*/
/*    --quicksilver: #A5A299;*/
/*    --taupe: #8D818C;*/
/*}*/

:root {
    /*--left: hsla(240, 100%, 0%, 0.65);*/
    /*--right: hsla(195, 53%, 79%, 0.65);*/
    /*--right: hsla(240, 100%, 40%, 0.65);*/
    --profile: #30536C;
    --bookclub: darkblue;
    --nav-accent: hsla(180, 100%, 25%, 0.9);
}

/*a {*/
/*    color: var(--taupe);*/
/*}*/
/*a:hover {*/
/*    color: var(--cadetblue);*/
/*}*/

/*a:visited {*/
/*    color: var(--quicksilver)*/
/*}*/


#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

#logoutmenu {
    background-color: var(--white);
    color: var(--cadetblue);
}

#logoutmenu:hover, #logoutmenu:active, #logoutmenu:focus {
    background-color: var(--cadetblue);
    color: var(--white)
}

#nab-carousel {
    height: 150px;
    background-color: #b4b9c5;
    opacity: 0.5;
}

.item-carousel {
    display: block;
    text-align: center;
}

p, h4, h5, h6{
    font-family: sans-serif;

}

h1, h2, h3{
    font-family: "serif";
}



/*custom button*/
.butn {
    border: none;
    padding: 10px;
    /*width: 175px;*/
    /*border-radius: 6px;*/
    transition: .3s ease;
    text-decoration: none;
}

/*profile coloring button*/
.pro-link {
    background: var(--profile);
    color: white;
}

.boo-link {
    color: white;
    background: var(--bookclub);
}

.boo-link-2 {
    background: var(--nav-accent);
    color: white;
    transition: 0.5s;
}

.boo-link-2:hover {
    color: var(--nav-accent);
    background: white;
}

.pro-link:hover {
    color: white;
    /*box-shadow: 0 0 10px rgba(255,255,255,0.9);*/
    box-shadow: 0 0 10px white;
}

/*MEETING HOVER*/
.pro-link-2:hover {
    transform: scale(1.1);
}



