/*:root {*/
/*    --white: #FEFFFE;*/
/*    --lavendar: #E9EBF8;*/
/*    --cadetblue: #B4B8C5;*/
/*    --quicksilver: #A5A299;*/
/*    --taupe: #8D818C;*/
/*}*/

:root {
    /*--left: hsla(240, 100%, 0%, 0.65);*/
    /*--right: hsla(195, 53%, 79%, 0.65);*/
    /*--right: hsla(240, 100%, 40%, 0.65);*/
    --profile: #30536C;
    --bookclub: darkblue;
    --nav-accent: hsla(180, 100%, 25%, 0.9);
}

/*a {*/
/*    color: var(--taupe);*/
/*}*/
/*a:hover {*/
/*    color: var(--cadetblue);*/
/*}*/

/*a:visited {*/
/*    color: var(--quicksilver)*/
/*}*/


#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

#logoutmenu {
    background-color: var(--white);
    color: var(--cadetblue);
}

#logoutmenu:hover, #logoutmenu:active, #logoutmenu:focus {
    background-color: var(--cadetblue);
    color: var(--white)
}

#nab-carousel {
    height: 150px;
    background-color: #b4b9c5;
    opacity: 0.5;
}

.item-carousel {
    display: block;
    text-align: center;
}

p, h4, h5, h6{
    font-family: sans-serif;

}

h1, h2, h3{
    font-family: "serif";
}

/*TRANSPARENT NAVBAR STUFF*/
.nav-specs {
    border-bottom: 2px solid hsla(180, 100%, 25%, 0.9);
    width: 80%;
    margin: 0 auto;
    /*color: white;*/
}

.nav-specs img {
    /*background-color: #B4B8C5;*/
    border-radius: 5px;
}

#navbarSupportedContent a {
    color: white;
    text-transform: uppercase;
    transition: 1s;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.1);
}

#navbarSupportedContent a:hover {
    /*color: hsla(180, 100%, 25%, 0.9);*/
    border-bottom: 2px solid hsla(180, 100%, 25%, 0.9);
}

#logoutmenu {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 1s;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.1);
}

#logoutmenu:hover {
    color: white;
    border-bottom: 2px solid hsla(180, 100%, 25%, 0.9);
}

.navbar-toggler {
    /*background: hsla(180, 100%, 25%, 0.9);*/
    color: white;
    border: 1px solid white;
    transition: 0.5s;


}

.navbar-toggler:hover  {
    border: 2px solid hsla(180, 100%, 25%, 0.9);
    color: hsla(180, 100%, 25%, 0.9);
}

#log-drop {
    background: var(--profile);
    color: white;
}

#log-drop form {
    background: black;
}

#log-drop a {
    background: black;
}

#log-drop a:hover {
    background: white;
    color: black;
}

#log-drop a[href="/sign-up"] {
    border-bottom: 2px solid var(--profile);
}

/*FOOTER*/
footer {
    border-top: 2px solid hsla(180, 100%, 25%, 0.9);
    padding: 2rem;
    /*min-height: ;*/
}

footer div p a {
    text-decoration: none;
    color: white;
    padding: 15px;
    background: var(--profile);
    opacity: 0.8;
    margin: 2rem auto;
}

footer div p a:hover {
    color: white;

}

/*CUSTOM BUTTONS*/
.butn {
    border: none;
    padding: 10px;
    /*width: 175px;*/
    /*border-radius: 6px;*/
    transition: .3s ease;
    text-decoration: none;
}

/*profile coloring button*/
.pro-link {
    background: var(--profile);
    color: white;
}

.boo-link {
    color: white;
    background: var(--bookclub);
}

.boo-link-2 {
    background: var(--nav-accent);
    color: white;
    transition: 0.5s;
}

.boo-link-2:hover {
    color: var(--nav-accent);
    background: white;
}

.pro-link:hover {
    color: white;
    /*box-shadow: 0 0 10px rgba(255,255,255,0.9);*/
    box-shadow: 0 0 10px white;
}

/*MEETING HOVER*/
.pro-link-2:hover {
    transform: scale(1.1);
}




