body {


    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/magicalLibrary.jpg") no-repeat center center fixed;

    /*background-color: rgba(0, 0, 0, 0.2);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

#post-content {
    color: white;
}

.post-body {
    background: var(--post);
}

.post-body > div {
    background: black;
}

.post-body > div >form > div {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--post);
}

.post-body > div >form > div > input {
    background: black;
    color: white;
    /*width: 100%;*/
}