body {


    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/magicalLibrary.jpg") no-repeat center center fixed;

    /*background-color: rgba(0, 0, 0, 0.2);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

#post-content {
    color: white;
}

.post-body {
    background: var(--post);
}

.post-body > div {
    background: black;
}

.post-body > div >form > div {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--post);
}

.post-body > div >form > div > input {
    background: black;
    color: white;
    /*width: 100%;*/
}


.post-card {
    background: var(--post);
    opacity: 0.9;
    padding: 2rem;
    margin-bottom: 30px;
}

.form-post {
    padding: 30px;
    border-radius: 5px;
    background: black;
    color: var(--post);
}

.input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--post);
    padding: 10px;
    color: var(--post);
    width: 100%;
    margin: 1rem 0;
}

#over {
    border-bottom: none;
}

/*BREADCRUMBS*/
#breadcrumbPosts {
    /*border: 2px solid cornflowerblue;*/
    background: var(--post);
    padding: 1rem;
    color: black;
}

#breadcrumbPosts ul {
    margin-bottom: 0;
}

.breadcrumb-item a {
    text-decoration: none;
    color: black;
}