
:root {
    --left: hsla(240, 100%, 0%, 0.65);
    /*--right: hsla(195, 53%, 79%, 0.65);*/
    --right: hsla(240, 100%, 40%, 0.65);
    --profile: #30536C;
    --bookclub: darkblue;
}

body {
    /*background: linear-gradient(135deg, var(--left), var(--right)),*/

    background: url('/img/magicalLibrary.jpg') no-repeat center center fixed,
     linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    /*background-color: rgba(0, 0, 0, 0.8);*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

.container {
    padding-top: 30px;
}

.modal {
    color: black;
}

/*Styling that wraps the accordion*/
.pro-card {
    background: var(--profile);
    opacity: 0.9;
    padding: 2rem;
    margin-bottom: 30px;
}

/*INVITES*/
.invite-unit {
    color: white;
    background: var(--bookclub);
}

.invite-unit div {
    background: black;
    color: white;
}

.invite-unit > div {
    max-width: 300px;
}

/*.invite-unit form {*/
/*    max-width: 300px;*/
/*}*/

/*THE ACCORDION STYLING*/
details > summary {
    list-style: none;
    background: black;
    color: white;
    opacity: 1;
}

details > summary i {
    transition: transform 0.4s ease;
}

details[open] > summary i {
    transform: rotate(-180deg);
}

details > summary::-webkit-details-marker {
    display: none;
    cursor: pointer;
}


.acc-bar {
    border: 2px solid white;
    color: white;
    background: white;
    margin: 0px;
}

.hidden-content {
    background: black;
}

.book-link {
    text-decoration: none;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background: var(--bookclub);
    color: white;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-link:hover {
    color: white;
    box-shadow: white 0px 0px 4px 4px;
}


/*@media screen and (max-width: 576px){*/
/*    .narrow-body {*/
/*        max-width: 70%;*/
/*    }*/
/*}*/

p, h4, h5, h6{
    font-family: sans-serif;

}

h1, h2, h3{
    font-family: "serif";
}


.custom-thumb {
    /*color: black;*/
    background: var(--bookclub);

}

.custom-thumb div {
    background: black;
}

.custom-thumb div img {
    height: 100px;
    width: 100px;
}

.custom-thumb div hr {
    border: 3px solid white;
}

.util-butn {
    width: 90px;
    text-align: center;
    box-sizing: border-box;
    /*background-size: 400%;*/
    border-radius: 30px;
    text-decoration: none;
    padding: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    border: 2px solid black;
}

.util-butn-accept {
    background: linear-gradient(90deg, #0DA500, #78FF01 );
}

.util-butn-decline {
    background: linear-gradient(90deg, #B00005, #FA613F);
}