.container {
    padding-top: 30px;
}

.is-private {
    margin-bottom: 3rem;
}

/*BREADCRUMBS*/
#breadcrumbBookclubs {
    /*border: 2px solid cornflowerblue;*/
    background: var(--bookclub);
    padding: 1rem;
    color: white;
}

/*Styling that wraps the accordion*/
.pro-card {
    background: var(--bookclub);
    opacity: 0.9;
    padding: 1rem;
    margin-bottom: 30px;

}

.pro-card div {
    background: black;
    color: white;
}

.pro-card a {
    text-decoration: none;
    color: white;
}


/*THE ACCORDION STYLING*/
details > summary {
    list-style: none;
    background: black;
    color: white;
    opacity: 1;
}

details > summary i {
    transition: transform 0.4s ease;
}

details[open] > summary i {
    transform: rotate(-180deg);
}

details > summary::-webkit-details-marker {
    display: none;
    cursor: pointer;
}

.acc-bar {
    border: 3px solid white;
    color: white;
    background: white;
    margin: 0px;
}


/*INVITES*/
.invite-unit {
    color: white;
    background: var(--bookclub);
    border: 2px solid white;
}

.invite-unit div {
    /*background: black;*/
    color: white;
}

.invite-unit > div {
    max-width: 300px;
}

.hidden-content {
    background: black;
}


.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--meeting);
}

.breadcrumb {
    margin-bottom: 0;
}

.bkcard {
    background-color: var(--card-yellow);
    color: black;
}

.fa-window-close {
    color: var(--bookclub);
    background-color: black;
}