<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials.html :: head('Not Another Bookclub :: Welcome')">
    <meta charset="UTF-8" />
    <title>Home</title>
    </head>

</head>
<!--    <link rel="stylesheet" href="/css/home.css">-->

<body>

<!--                            NAVBAR BEGIN-->

    <nav th:replace="partials.html :: navbar"></nav>

<!--                                NAVBAR END-->

<div class="container">


    <h1 class="narrow-body">Welcome to Not Another BookClub</h1>
<br>

<!--                               Code formerly known as JUMBOTRON BEGIN-->

    <div class="p-4 pro-card narrow-body" id="library">
<!--        jumbotron jumbotron-fluid-->
        <div class="p-4">
            <h1 class="display-4">"The best moments in reading are when you come across something...</h1>
                <p class="lead">a thought, a feeling, a way of looking at things – that you'd thought special, particular to you. And here it is, set down by someone else, a person you've never met, maybe even someone long dead. And it's as if a hand has come out, and taken yours.”</p>
            <h4 class="text-end">Alan Bennett,<br> <em>The History Boys</em></h4>
        </div>

        <div class=" p-4" >

        <p>
            Not Another Book Club (N.A.B.) seeks to connect people with each other by making new friends or maintaining friendships through books.</p>

            <p>It is, at its most basic level, a social-network for bibliophiles.</p>

        <p>Read books that interest you, find other people that like the same kinds of books that you do, or throw open the gates and find something fresh.</p>

            <p>We just want to help the world read more, and better.</p>

        </div>
    </div>
</div>






<!--    FOOTER-->
<footer th:replace="partials.html::footer"></footer>

<!--    FOOTER END-->
<script th:replace="partials.html :: booksearchscript('user', 1)"></script>
</body>
</html>
