<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials.html :: head('Not Another Bookclub :: Welcome')">
    <meta charset="UTF-8" />
    <title>Home</title>

</head>

<!--    CSS-->

<link rel="stylesheet" href="/css/font.css">
<link rel="stylesheet" href="/css/utils.css">


<!--    CSS END-->



<body>

<!--                            NAVBAR BEGIN-->

    <nav th:replace="partials.html :: navbar"></nav>

<!--                                NAVBAR END-->

<div class="container">

    <h1 class="text-white narrow-body">Welcome to Not Another BookClub</h1>

    <br>
    <br>
    <hr>

<!--                               Code formerly known as JUMBOTRON BEGIN-->

    <div class="p-0 bg-dark Teddy narrow-body">
<!--        jumbotron jumbotron-fluid-->
        <div class=" quote p-4">
            <h1 class="display-4 text text-white">"The best moments in reading are when you come across something...</h1>
                <p class="lead text text-white">a thought, a feeling, a way of looking at things – that you'd thought special, particular to you. And here it is, set down by someone else, a person you've never met, maybe even someone long dead. And it's as if a hand has come out, and taken yours.”</p>
            <h4 class="text-right text-white">Alan Bennett,<br> <em>The History Boys</em></h4>
        </div>

        <div class="BC-description text-white p-4" >

        <p>
            Not Another Book Club (N.A.B.) seeks to connect people with each by making new friends or maintaining friendships through books.

            <br>

            It is, at its most basic level, a social-network for bibliophiles.
        </p>

        <p>
            With N.A.B all the bookworms of the world can enjoy their pastime at any location.

            <br>

            There’s some days that traveling to the designated venue to enjoy another group book session is not possible.
        </p>

        </div>
    </div>








    </div>




<!--                               code formerly known as JUMBOTRON END-->







<div class="container">




    <div class="text-center">
<!--        <img src="/img/magicalLibrary.jpg" height="500px"/>-->


<div th:if="${user.username != null}">Maybe you'd like to view <a th:href="@{/pro/__${user.id}__}">your profile?</a></div>


<!--<div th:replace="partials.html :: booksearch"></div>-->
</div>
</div>


<!--    FOOTER-->
<footer th:replace="partials.html::footer"></footer>

<!--    FOOTER END-->

<!--        JS-->
<script th:replace="partials.html :: booksearchscript('user', 1)"></script>

<!--        JS END-->
</body>
</html>
