<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials.html :: head('Not Another Bookclub :: Welcome')">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<div class="container">
<nav th:replace="partials.html :: navbar"></nav>

<h1>Eventually there will be other stuff here</h1>

<div th:replace="partials.html :: booksearch">

</div>
</div>
<footer th:replace="partials.html::footer"></footer>
<script th:replace="partials.html :: booksearchscript"></script>
</body>
</html>
