<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="partials.html :: head('Meeting Detailed Information :: Not Another Bookclub')">
    <title>Title</title>
</head>
<body>
    <nav th:replace="partials.html :: navbar"></nav>
    <div class="container">
    <h2>Detailed information about this meeting for the <span th:text="${bookclub.name}"></span> </h2>

    <h4>The book to be discussed:</h4>
        <div id="results1"></div>


    <div>
        <p>The meeting is schedule for <span th:text="${#dates.format(meeting.timedate,'E, MMM dd yyyy HH:mm:ss')}"></span></p>
        <p>This meeting is being held at: <span th:text="${meeting.location}"></span></p>
        <p th:if="${ismemberactive}">This meeting is being held at: <span th:text="${meeting.getAddress()}"></span>,
        <span th:text="${meeting.getCity()}"></span>, <span th:text="${meeting.zipPlusFour}"></span></p>
    </div>
        <div th:if="${isowner}" style="border: 2px solid black">
            <span>These will only show if you own the club.</span>
            <button class="btn btn-warning">Edit?</button>
            <button class="btn btn-danger">Delete?</button>
        </div>
    </div>
    <div th:replace="partials.html::bookclubmodal"></div>

    <footer th:replace="partials.html::footer"></footer>
<script th:replace="partials.html::bookdisplay(${meeting.book.googleID})"></script>
</body>
</html>