<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="partials.html :: head('Not ')">
    <title>Title</title>
</head>
<body>
    <nav th:replace="partials.html :: navbar"></nav>
    <h2>THIS IS THE INDIVIDUAL MEETING PAGE!!!</h2>

    <div >
        <p>The id is: <span th:text="${id}"></span></p>
    </div>
    <div style="border: 2px solid black">
        <span>These will only show if you own the club.</span>
        <button class="btn btn-warning">Edit?</button>
        <button class="btn btn-danger">Delete?</button>
    </div>
    <div>
        <p>This will be the area where the details are displayed.</p>
        <p>Tricky thing is do we have a conditional if it is a physical location meeting or virtual.</p>
        <p>last lines of detail </p>
    </div>

    <footer th:replace="partials.html::footer"></footer>
</body>
</html>