<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">

    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>



<nav th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4B8C5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/img/logo.png" height="75px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/posts">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"  th:href="@{'/profile'}">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/bookclubs/create">Create</a>
                    </li>
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            Dropdown-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sign In
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="loginDropdown">

<!--                            <form method="POST" action="https://request-inspector.glitch.me/" class="px-4 py-3">-->
                            <form th:action="@{/login}" method="post" class="px-4 py-3">
                                <div class="form-group">

                                        <label class="form-label mt-3" for="username1">Username</label>
                                        <input class="form-control mb-3" id="username1" name="username" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="password1">Password</label>
                                    <div class="input-group"><input type="password" class="form-control" id="password1" name="password" placeholder="Password">
<!--                                                            <i class="far fa-eye input-group-text" id="togglePassword"></i>-->
                                </div>

                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="stayloggedin" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sign-up">New around here? Sign up</a>

                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>

                    </li>
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" id="logoutmenu">Logout</button>
                        </form>
                    </li>

                </ul>
                <div class="d-flex justify-content-between">
                <form class="d-flex" method="get" action="/search">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                    <div class="nav-item dropdown">
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="loginDropdown">

                    <form method="POST" action="https://request-inspector.glitch.me/" class="px-4 py-3">
                        <div class="form-group">
                            <label for="email1">Email address</label>
                            <input type="email" class="form-control" id="email1" name="email" placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <<div class="input-group"><input type="password" class="form-control" id="password1" name="password" placeholder="Password">
                            <!--                                                            <i class="far fa-eye input-group-text" id="togglePassword"></i>-->
                        </div>

                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="stayloggedin" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New around here? Sign up</a>


                        <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
            </div>
            </div>
            </div>
        </div>
    </nav><br>
    <br>
    <span th:utext="${alert}"></span>
</nav>


<!--                            DATETIMEPICKER MODAL START-->

<!-- Button to trigger modal -->

<div id="dateTimePicker" th:fragment="dateTimePickermodal">


<a href="#datetimeModal" role="button" class="btn" data-bs-toggle="modal">Launch demo modal</a>

<!-- Modal -->
<div id="datetimeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="datetimeModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="datetimeModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <div id="datetimepicker1" class="input-append date">
            <input data-format="dd/MM/yyyy hh:mm:ss" type="datetime-local">
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script>

    $(function() {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });

</script>

</div>




<!--                                DATETIMEPICKER MODAL END-->
<!--THIS NAVBAR BELOW DOES NOT CONTAIN A CREATE LINK, THIS NAVBAR WILL BE FOR VISITORS-->

<nav th:fragment="visitor-navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4B8C5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/img/logo.png" height="75px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/posts">Home</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/posts/create">Create</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            Dropdown-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sign In
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="loginDropdown">

                            <!--                            <form method="POST" action="https://request-inspector.glitch.me/" class="px-4 py-3">-->
                            <form th:action="@{/login}" method="post" class="px-4 py-3">
                                <div class="form-group">

                                    <label class="form-label mt-3" for="username1">Username</label>
                                    <input class="form-control mb-3" id="username1" name="username" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="password1">Password</label>
                                    <div class="input-group"><input type="password" class="form-control" id="password1" name="password" placeholder="Password">
                                        <!--                                                            <i class="far fa-eye input-group-text" id="togglePassword"></i>-->
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="stayloggedin" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sign-up">New around here? Sign up</a>
                            <a class="dropdown-item" href="/forgot-username">Forgot username?</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>

                    </li>
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" id="logoutmenu">Logout</button>
                        </form>
                    </li>

                </ul>
                <div class="d-flex justify-content-between">
                    <form class="d-flex" method="get" action="/search">
                        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div class="nav-item dropdown">
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="loginDropdown">

                            <form method="POST" action="https://request-inspector.glitch.me/" class="px-4 py-3">
                                <div class="form-group">
                                    <label for="email1">Email address</label>
                                    <input type="email" class="form-control" id="email1" name="email" placeholder="email@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="password1">Password</label>
                                    <<div class="input-group"><input type="password" class="form-control" id="password1" name="password" placeholder="Password">
                                    <!--                                                            <i class="far fa-eye input-group-text" id="togglePassword"></i>-->
                                </div>

                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="stayloggedin" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav><br>
    <br>
    <span th:utext="${alert}"></span>
</nav>




<!--NOT LOGGED IN-->
<!--<nav th:fragment="navbar">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4B8C5">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="/"><img src="/img/logo.png" height="75px"></a>-->
<!--            <a href="/home">Home</a>-->
<!--            <a href="/register">Register</a>-->
<!--            <a href="/login">Login</a>-->
<!--        </div>-->

<!--    </nav>-->
<!--</nav>-->


<!--LOGGED IN-->
<!--<nav th:fragment="navbar">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B4B8C5">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="/"><img src="/img/logo.png" height="75px"></a>-->
<!--            <a href="/home">Home</a>-->
<!--            <a href="/profile">Profile</a>-->
<!--        </div>-->

<!--    </nav>-->
<!--</nav>-->


                        // BOOKSEARCH GOOGLE BOOK API BEGIN


<div th:fragment="booksearch">
    Version 3

    <h1>Book finder</h1>
    <label for="search Title"></label>
    <input type="text" id="search title" placeholder="Title">
    <label for="search Author"></label>
    <input type="text" id="search Author" placeholder="Author">
    <button id = "button" type="button" class="btn btn-primary">Search for books!</button>
    <div id="results" class="row"></div>
</div>

<!-- Modal that updates User-Books i.e. if it is on a User related page, it must use this modal -->
<div th:fragment="usermodal" class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <br>
                <div id="modalImage"><img src="/img/logo.png"></div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">


            </div>

            <form th:action="@{/pro/__${id}__/book/edit}" method="Post">
                <label for="startDate" id="startDateText">Currently set to: </label> <label for="finishDate" id="finishDateText">Currently set to: </label>
                <input type="date" id="startDate" name="startDate">
                <input type="date" id="finishDate" name="finishDate">
                <input type="hidden" id="modalbookid" name="book" value="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal that updates Bookclub-Books i.e. if it is on a Bookclub related page, it must use this modal -->
<div th:fragment="bookclubmodal" class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <br>
                <div id="modalImage"><img src="/img/logo.png"></div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">


            </div>

            <form th:action="@{/bookclubs/__${bookclub.id}__/book/edit}" method="Post">
                <label for="startDate" id="startDateText">Currently set to: </label> <label for="finishDate" id="finishDateText">Currently set to: </label>
                <input type="date" id="startDate" name="startDate">
                <div tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The 'finish date' for your bookclub is set based on the meeting you have scheduled for it - to change (or set) a finish date, please create a meeting discussing this book."><input type="date" id="finishDate" name="finishDate" disabled></div>
                <input type="hidden" id="modalbookid" name="book" value="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script th:fragment="booksearchscript(path,bookclubid)" th:inline="javascript">


    function bookRender(data){
            for(i = 0; i < data.items.length; i++){
                let thumbnail
                let author
                let path = [[${path}]]
                let csrf = [[${_csrf.token}]]
                let csrfname = [[${_csrf.parameterName}]]
                let bookclubid = [[${bookclubid}]]
                if (!data.items[i].volumeInfo.hasOwnProperty('imageLinks')) {thumbnail = "http://localhost:8080/img/logo.png"}
                else {thumbnail = data.items[i].volumeInfo.imageLinks.thumbnail}
                console.log(thumbnail);
                if (!data.items[i].volumeInfo.hasOwnProperty('authors')) {author = "Unknown or not listed"}
                else {author = data.items[i].volumeInfo.authors[0]}
                console.log(thumbnail);

                var html = '<div class="card col-lg-2 col-md-3 col-sm-6 text-center m-1 p-1">'
                // html += "<img src='https://books.google.com/books/content?id=" + data.items[i].id + "&printsec=frontcover&img' alt='Book Cover'>"
                html +=  "<div class='card-top'><img src='" + thumbnail + "' alt='Book Cover'>"
                html += "<div class='card-body'>"
                html += "<h5 class='card-title'>" + data.items[i].volumeInfo.title + " - " + author + "</h5></div></div>"

                html += "<div><form action='/book/add' method='post'> <input hidden value=" + data.items[i].id +" name='book'><input hidden value='" + path + "' name='path'>"
                html += '<input hidden value="' + csrf + '" name="' + csrfname + '"> <input hidden value="'+ bookclubid + '" name="bookclubid"><button class="btn btn-primary">Add to reading list</button></form></div>'
                html += "<div class='card-bottom'><p class='card-text'>" + data.items[i].volumeInfo.description + "</p></div>"

                results.innerHTML+=html;


            }
        $(".card-bottom").hide()
        $('.card-top').click(function() {
            let thisCardBottom = $(this).next().next()
            // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
            $(".card-bottom").not(thisCardBottom).slideUp(500)
            $(this).next().next().slideToggle(1000)})
    }



    function bookSearch(){
        var searchTitle = document.getElementById('search title').value
        var searchAuthor = document.getElementById('search Author').value
        document.getElementById('results').innerHTML =""



        if (searchAuthor.length <= 0) {
        // if (searchAuthor.length > 0 && searchTitle.length > 0) {
        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes?q=" + searchTitle
            + "&printType=books",
            dataType:"json",
            success: function (data) {bookRender(data)},
            type: 'GET'
        })}

        else if (searchTitle.length <= 0) {
            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes?q=+inauthor:" + searchAuthor + "&printType=books",
                dataType: "json",
                success: function (data) {bookRender(data)},
                type: 'GET'
            })}

            else if (searchTitle.length > 0 && searchAuthor.length > 0) {
            $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes?q=" + searchTitle
            + "+inauthor:" + searchAuthor + "&printType=books",
                dataType: "json",
                success: function (data) {bookRender(data)},
                type:'GET'
        })}
    }

    document.getElementById('button').addEventListener('click', bookSearch, false);
    document.getElementById('search Author').addEventListener('keyup', function (event){
        if (event.keyCode === 13) {document.getElementById('button').click()}})
    document.getElementById('search title').addEventListener('keyup', function (event){
            if (event.keyCode === 13) {document.getElementById('button').click()}})




</script>
<script th:fragment="bookdisplay(arrayofbooks)" th:inline="javascript">
    let idsearch = [[${arrayofbooks}]]
    let startdates = [[${startdates}]]
    let startdateshtml = [[${startdateshtml}]]
    let finishdates = [[${finishdates}]]
    let finishdateshtml = [[${finishdateshtml}]]

    let findreplace = {}

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })


    function googleIdSearch(idSearch,startDate,finishDate,startDateHTML,finishDateHTML){
// console.log("This function runs");
// let idSearch = document.getElementById('search google_id').value
let results = document.getElementById('results1')
// console.log("search google_id")

$.ajax({
url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
dataType: "json",

success: function (data) {

    let thumbnail
    let author

    // use dom to display ajax rtn

    if (!data.volumeInfo.hasOwnProperty('imageLinks')) {thumbnail = "http://localhost:8080/img/logo.png"}
    else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {thumbnail = "http://localhost:8080/img/logo.png"}
    else {thumbnail = data.volumeInfo.imageLinks.thumbnail}
    console.log(thumbnail);
    if (!data.volumeInfo.hasOwnProperty('authors')) {author = "Unknown or not listed"}
    else {author = data.volumeInfo.authors[0]}
    if (startDate === null) {startDate = "Not yet started."};
    if (finishDate === null) {finishDate = "Not finished yet."}

var html = '<div class="card col-lg-2 col-md-3 col-sm-6 text-center">'
    // html += "<img src='https://books.google.com/books/content?id=" + data.items[i].id + "&printsec=frontcover&img' alt='Book Cover'>"
    html += "<img src='" + thumbnail + "' alt='Book Cover'>"
    html += "<div class='card-body'>"
    html += "<h5 class='card-title'>" + data.volumeInfo.title + " - " + data.volumeInfo.authors[0] + "</h5><br>"
    html += "<h6> Started reading: "+ startDate +"</h6>"
    html += "<h6> Finished reading: "+ finishDate +"</h6></div>"
    html += '<div><a href="#" class="btn btn-primary" id="'+ idSearch +'">Remove from reading list</a>'
    html += '<button href="" class="btn book-selector btn-primary" data-google-i-d="'+ idSearch +'" data-startdate="'+startDate+'" data-startdatehtml="'+ startDateHTML+'" data-finishdate="'+ finishDate +'" data-finishdatehtml="'+ finishDateHTML +'" data-bs-toggle="modal" data-bs-target="#myModal">See details</button></div></div>'
    // html += "<div class='card-bottom1'><p class='card-text'>" + data.volumeInfo.description + "</p></div></div>"

results.innerHTML += html;
    findreplace[idSearch] = data.volumeInfo.title;
},


type: 'Get',
}
)
}
if (typeof idsearch == "string") {googleIdSearch(idsearch,startdateshtml,finishdateshtml);}
    // console.log("This book is a string!")
    // $(".card-bottom1").hide()
    // console.log("Firing after the hide from string!")
    // $('.card-top1').click(function() {
    // console.log("I'm firing from the click listener!")
    // let thisCardBottom = $(this).next()
    // // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
    // $(".card-bottom1").not(thisCardBottom).slideUp(500)
    // $(this).next().slideToggle(1000)})}
else {
for(let i = 0; i < idsearch.length; i++) {
    googleIdSearch(idsearch[i],startdates[i],finishdates[i],startdateshtml[i], finishdateshtml[i]);
}
}
// console.log("These books are a list!")
// $(".card-bottom1").hide()
//     console.log("Firing after the hide from list!")
// $('.card-top1').click(function() {
//     console.log("I'm firing from the click listener!")
//     let thisCardBottom = $(this).next()
//     // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
//     $(".card-bottom1").not(thisCardBottom).slideUp(500)
//     $(this).next().next().slideToggle(1000)}

    const title = document.getElementById('myModalLabel');
    const modalImage = document.getElementById('modalImage');
    const body = document.getElementById('modalBody');
    const startdatetext = document.getElementById('startDateText');
    const finishdatetext = document.getElementById('finishDateText');
    const startdatecalendar = document.getElementById('startDate');
    const finishdatecalendar = document.getElementById('finishDate');
    const modalbookid = document.getElementById('modalbookid');



    function modalPopulate(idSearch,start,finish,startHTML,finishHTML){
        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
            dataType: 'json',
            success: function (data) {
                let thumbnail
                let author

                if (!data.volumeInfo.hasOwnProperty('imageLinks')) {
                    thumbnail = "http://localhost:8080/img/logo.png"
                } else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {
                    thumbnail = "http://localhost:8080/img/logo.png"
                } else {
                    thumbnail = data.volumeInfo.imageLinks.thumbnail
                }
                console.log(thumbnail);
                if (!data.volumeInfo.hasOwnProperty('authors')) {
                    author = "Unknown or not listed"
                } else {
                    author = data.volumeInfo.authors[0]
                }

                title.innerText = data.volumeInfo.title + " - " + author;
                modalImage.innerHTML = '<img src="' + thumbnail + '">'
                body.innerHTML = data.volumeInfo.description;
                startdatetext.innerText = "Currently set to: " + start;
                finishdatetext.innerText = "Currently set to: " + finish;
                startdatecalendar.value = startHTML;
                finishdatecalendar.value = finishHTML;
                modalbookid.value = idSearch;
            },

            type: 'Get'

        });
    }

setTimeout(function() {
        if (typeof idsearch == "string")
        {$('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace(idsearch, findreplace[idsearch])})

        }
        else {
        for (let i = 0; i < idsearch.length; i++) {
            $('body :not(script)').contents().filter(function () {
                return this.nodeType === 3;
            }).replaceWith(function () {
                return this.nodeValue.replace(idsearch[i], findreplace[idsearch[i]]);
            })
        }

            // $("* :contains(idsearch[i])").each(function() {
            //     var replaced = $(this).html().replace(/idsearch[i]/g, findreplace[idsearch[i]])
            //     $(this).html(replaced);
            // })
        }
        // document.getElementsByClassName('book-selector').click(function (e){
        //     e.preventDefault()
        //     document.getElementById('book').value = this.id;
        // })
        $('.book-selector').click(function() {
            // console.log(this);
            modalPopulate(this.dataset.googleID, this.dataset.startdate, this.dataset.finishdate, this.dataset.startdatehtml, this.dataset.finishdatehtml)
})
    }
, 500)
</script>
</div>

<!--This is a lightweight Javascript function that finds GoogleBook IDs (passed down from the controller) and replaces them with titles-->
<script th:fragment="findreplace" th:inline="javascript">
    let idsearch = [[${books}]]
    let findreplace = {}

    function findandreplacepopulate(idSearch) {
        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
            dataType: 'json',
            success: function (data) {
                findreplace[idSearch] = data.volumeInfo.title;
            }, type: 'Get',
        })
    }

    if (typeof idsearch == "string") {findandreplacepopulate(idsearch);}
    else for (let i = 0; i < idsearch.length; i++) {
        findandreplacepopulate(idsearch[i])
    }

    setTimeout(function() {
        if (typeof idsearch == "string") {
            $('body :not(script)').contents().filter(function () {
                return this.nodeType === 3;
            }).replaceWith(function () {
                return this.nodeValue.replace(idsearch, findreplace[idsearch])
            })

        } else {
            for (let i = 0; i < idsearch.length; i++) {
                $('body :not(script)').contents().filter(function () {
                    return this.nodeType === 3;
                }).replaceWith(function () {
                    return this.nodeValue.replace(idsearch[i], findreplace[idsearch[i]]);
                })
            }

        }

    }
        , 500)




</script>

<!--                                    FOOTER PARTIAL START-->

<footer th:fragment="footer" class="text-muted footer mt-auto py-3" style="background-color: #B4B8C5">
    <div class="container-fluid">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Everything here is &copy; 2021 by Edward C. "Ted" McCormick, all rights reserved.</p>
        <p>But everything here is available for inspection or to modify and make your own - check out <a href="https://github.com/edwardmccormick"><i class="fab fa-github-square"></i> my Github</a> for more.</p>

        <p>All servicemarks, trademarks, and logos are used without permission of the trademark or rights holders. No infringement on any claim of their rights intended.</p>

        <div class="d-flex flex-row justify-content-around flex-wrap">
            <img src="/img/Bootstrap_logo.svg" height="50px">
            <img src="/img/spring-icon.svg" height="50px">
            <img src="/img/logo-java-text-color.svg" height="50px">
            <img src="/img/IntelliJ_IDEA_Icon.svg" height="50px">
<!--            <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Synology_Logo.svg" height="50px">-->
            <img src="/img/Tomcat-logo.svg" height="50px">
            <img src="/img/thymeleaf.png" height="50px">
            <img src="/img/mysql-horizontal.svg" height="50px">
        </div></div>

<!--                                FOOTER PARTIAL END-->




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!--    <script src="/js/main.js"></script>-->
</footer>
</body>
</html>