<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">

    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>



<nav th:fragment="navbar" class="nav-specs mb-3">
    <nav th:if="${user.username != null}" class="navbar navbar-expand-lg navbar-light" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" height="75px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/bookclubs"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"  th:href="@{'/profile/'}"><i class="fas fa-user-circle"></i> Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active"  th:href="@{'/aboutus'}"><i class="fas fa-users"></i> About us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/bookclubs/create"><i class="fas fa-plus"></i> Create</a>
                    </li>

                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" id="logoutmenu"><i class="fas fa-sign-out-alt"></i> Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

<!--    UNLOGGED-->
    <nav th:if="${user.username == null}" class="navbar navbar-expand-lg" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" height="75px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<!--                <span class="fas fa-bars"></span>-->
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                         <a class="nav-link" href="/bookclubs"><i class="fas fa-home"></i> Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active"  th:href="@{'/aboutus'}"><i class="fas fa-users"></i> About us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/sign-up"><i class="fas fa-user-plus"></i> Sign up</a>
                    </li>
<!--                    THIS IS THE DROPDOWN-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-sign-in-alt"></i> Sign In
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right p-3" aria-labelledby="loginDropdown" id="log-drop">
                            <form th:action="@{/login}" method="post" class="px-4 py-3" >
                                <div class="">
                                    <input class="input mb-3" id="username1" name="username" type="text" placeholder="Username"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="input mb-3" id="password1" name="password" placeholder="Password">
                                </div>
                                <button type="submit" class="butn pro-link">Sign in</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sign-up">New around here? Sign up</a>
                            <a class="dropdown-item" href="/forgot-username">Forgot username?</a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <span th:utext="${alert}"></span>
</nav>


<nav th:fragment="navbarnologic" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo.png" height="75px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/bookclubs"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  th:href="@{'/profile/'}">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active"  th:href="@{'/aboutus'}"><i class="fas fa-users"></i> About us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/bookclubs/create">Create</a>
                </li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" id="logoutmenu"><i class="fas fa-sign-out-alt"></i> Logout</button>
                    </form>
                </li>

            </ul>

        </div>
    </div>
    <span th:utext="${alert}"></span>
</nav>

<!--                            DATETIMEPICKER MODAL START-->

<!-- Button to trigger modal -->

<div id="dateTimePicker" th:fragment="dateTimePickermodal">


<a href="#datetimeModal" role="button" class="btn" data-bs-toggle="modal">Launch demo modal</a>

<!-- Modal -->
<div id="datetimeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="datetimeModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="datetimeModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <div id="datetimepicker1" class="input-append date">
            <input data-format="dd/MM/yyyy hh:mm:ss" type="datetime-local">
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script>

    $(function() {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });

</script>

</div>

<!--     BOOKSEARCH GOOGLE BOOK API BEGIN-->


<div th:fragment="booksearch">
    <div class="pro-card">
        <div class="hidden-content my-2 py-2">
        <h1 class="text-center py-2 my-2">Book finder - add more books to your reading lists!</h1>

            <div class="d-flex justify-content-around g-2 my-2 py-2">

                <div class="col-5 mb-2">
<!--                    <label for="search Title">Title or Other Keywords</label> -->
                    <input type="text" class="input search-under" id="search title" placeholder="Title">
                </div>
                <div class="col-auto mb-2">
<!--                    <label for="search Author">Author (not required)</label>-->
                    <input type="text" class="input search-under" id="search Author" placeholder="Author">
                </div>
                <div class="col-auto mb-2 align-self-end"><button id = "button" type="button" class="butn meeting-link">Search for books!</button></div>
            </div>
        </div>
    </div>
    <br>
    <div id="results" class="row row-col-1 row-cols-sm-3 row-cols-md-4 g-4"></div>
</div>

<!-- Modal that updates User-Books i.e. if it is on a User related page, it must use this modal -->
<div th:fragment="usermodal" class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg pro-card">
        <div class="modal-content hidden-content text-white">
            <div class="modal-header d-flex justify-content-between">
                <div><h5 class="modal-title" id="myModalLabel">Modal title</h5></div>

                <div id="modalImage"><img src="/img/logo-small.png"></div>

                <div class="align-self-start"><i type="button" class="fas fa-window-close fa-2x meeting-link align-self-start" data-bs-dismiss="modal" aria-label="Close"></i></div>
            </div>
            <div class="modal-body" id="modalBody">


            </div>
            <div id="modalbottom" class="user">
            <form th:action="@{/pro/__${id}__/book/edit}" method="Post">
                <div class="d-flex justify-content-around"><div>Start reading</div><div>Finish reading</div></div>
                <div class="d-flex justify-content-around"><label for="startDate" id="startDateText">Start on: </label> <label for="finishDate" id="finishDateText">Finish on: </label></div>
                <div class="d-flex justify-content-around"><input type="date" id="startDate" name="startDate">
                    <input type="date" id="finishDate" name="finishDate"></div>
                <input type="hidden" id="modalbookid" name="book" value="">
                <div class="modal-footer d-flex flex-row-reverse justify-content-around">

                    <div th:if="${isOwner}"><button type="submit" class="butn meeting-link">Save changes</button></form></div>
        <div th:if="${isOwner}"><form th:action="@{/pro/__${id}__/book/delete}" method="Post"><input type="hidden" id="modaldeletebookid" name="book" value=""><button type="submit" class="butn btn-danger">Delete book</button></form></div>
            </div>
            </div>

        </div>
    </div>

<!-- Modal that updates Bookclub-Books from posts page, because of weird bugs with our posts i.e. if it is on a post related page, it must use this modal -->
<div th:fragment="bookclubmodal" class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content pro-card">
            <div class="modal-header hidden-content d-flex justify-content-between">
                <div><h5 class="modal-title hidden-content" id="myModalLabel">Modal title</h5></div>

                <div id="modalImage"><img src="/img/logo-small.png"></div>

                    <div class="align-self-start"><i type="button" class="fas fa-window-close fa-2x meeting-link" data-bs-dismiss="modal" aria-label="Close"></i></div>
            </div>
            <div class="modal-body hidden-content" id="modalBody">


            </div>
            <div id="modalbottom" class="bookclub">
            <form th:action="@{'/bookclubs/' + ${bookclub.id} + '/book/edit'}" method="Post">
                <div class="d-flex justify-content-around"><div>Start reading</div><div>Finish reading</div></div>
                <div class="d-flex justify-content-around"><label for="startDate" id="startDateText">Start reading: </label> <label for="finishDate" id="finishDateText">Finish reading: </label></div>
                <div class="d-flex justify-content-around"><div><input type="date" id="startDate" name="startDate"></div><div tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="The 'finish date' for your bookclub is set based on the meeting you have scheduled for it - to change (or set) a finish date, please create a meeting discussing this book."><input type="date" id="finishDate" name="finishDate" disabled></div></div>
                <input type="hidden" id="modalbookid" name="book" value="">
                <div class="d-flex flex-row-reverse justify-content-around modal-footer">
<!--                    <button type="button" class="butn boo-link" data-bs-dismiss="modal">Close</button></div>-->
                    <div th:if="${isOwner}" class=""> <button id="savechanges" type="submit" class="butn meeting-link">Save changes</button></div></form>
            <div th:if="${isOwner}" class=""><form th:action="@{'/bookclubs/' + ${bookclub.id} + '/book/delete'}" method="Post"><input type="hidden" id="modaldeletebookid" name="book" value=""><button id="deletebook" type="submit" class="butn btn-danger">Delete book</button></form></div></div>

            </div>
        </div>
    </div>
<!--</div>-->


<script th:fragment="booksearchscript(path,bookclubid)" th:inline="javascript">


    function bookRender(data){
            for(i = 0; i < data.items.length; i++){
                let thumbnail
                let author
                let path = [[${path}]]
                let csrf = [[${_csrf.token}]]
                let csrfname = [[${_csrf.parameterName}]]
                let bookclubid = [[${bookclubid}]]
                if (!data.items[i].volumeInfo.hasOwnProperty('imageLinks')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
                else {thumbnail = data.items[i].volumeInfo.imageLinks.thumbnail}
                console.log(thumbnail);
                if (!data.items[i].volumeInfo.hasOwnProperty('authors')) {author = "Unknown or not listed"}
                else {author = data.items[i].volumeInfo.authors[0]}
                console.log(thumbnail);

                var html = '<div class="col"><div class="card justify-content-between text-center book-card body-text h-100 p-2">'
                html +=  "<img src='" + thumbnail + "' class='card-img-top' alt='Book Cover'>"
                // html += "<div class='card-body'>"
                html += "<h5 class='card-title'>" + data.items[i].volumeInfo.title + " - " + author + "</h5>"

                html += "<div class='card-footer'><form action='/book/add' method='post'> <input hidden value=" + data.items[i].id +" name='book'><input hidden value='" + path + "' name='path'>"
                html += '<input hidden value="' + csrf + '" name="' + csrfname + '"> <input hidden value="'+ bookclubid + '" name="bookclubid"><button class="butn meeting-link mb-2">Add</button></form> <button href="" class="butn search-selector meeting-link" data-google-i-d="'+ data.items[i].id +'" data-bs-toggle="modal" data-bs-target="#myModal">See details</button></div></div></div>'


                results.innerHTML+=html;


            }
        setTimeout(function() {
                $('.search-selector').click(function() {
                    console.log(this);
                    console.log("Firing from the click listener on search-selector!")
                    modalPopulateShow(this.dataset.googleID)
                })
            }
            , 750)
    }



    function bookSearch(){
        var searchTitle = document.getElementById('search title').value
        var searchAuthor = document.getElementById('search Author').value
        document.getElementById('results').innerHTML =""



        if (searchAuthor.length <= 0) {
        // if (searchAuthor.length > 0 && searchTitle.length > 0) {
        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes?q=" + searchTitle
            + "&printType=books",
            dataType:"json",
            success: function (data) {bookRender(data)},
            type: 'GET'
        })}

        else if (searchTitle.length <= 0) {
            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes?q=+inauthor:" + searchAuthor + "&printType=books",
                dataType: "json",
                success: function (data) {bookRender(data)},
                type: 'GET'
            })}

            else if (searchTitle.length > 0 && searchAuthor.length > 0) {
            $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes?q=" + searchTitle
            + "+inauthor:" + searchAuthor + "&printType=books",
                dataType: "json",
                success: function (data) {bookRender(data)},
                type:'GET'
        })}
    }

    document.getElementById('button').addEventListener('click', bookSearch, false);
    document.getElementById('search Author').addEventListener('keyup', function (event){
        if (event.keyCode === 13) {document.getElementById('button').click()}})
    document.getElementById('search title').addEventListener('keyup', function (event){
            if (event.keyCode === 13) {document.getElementById('button').click()}})



    function modalPopulateShow(idSearch){
        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
            dataType: 'json',
            success: function (data) {
                console.log("Firing from the Ajax call on modalPopulateShow!")
                let thumbnail
                let author

                if (!data.volumeInfo.hasOwnProperty('imageLinks')) {
                    thumbnail = "http://localhost:8080/img/logo-small.png"
                } else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {
                    thumbnail = "http://localhost:8080/img/logo-small.png"
                } else {
                    thumbnail = data.volumeInfo.imageLinks.thumbnail
                }
                console.log(thumbnail);
                if (!data.volumeInfo.hasOwnProperty('authors')) {
                    author = "Unknown or not listed"
                } else {
                    author = data.volumeInfo.authors[0]
                }



                document.getElementById('myModalLabel').innerText = data.volumeInfo.title + " - " + author;
                document.getElementById('modalImage').innerHTML = '<img src="' + thumbnail + '">'
                document.getElementById('modalBody').innerHTML = data.volumeInfo.description;
                document.getElementById('startDateText').innerText = "Not added yet.";
                document.getElementById('finishDateText').innerText = "Not added yet";
                document.getElementById('startDate').disabled = true;
                document.getElementById('finishDate').disabled = true;
                document.getElementById('modalbookid').value = idSearch;
                document.getElementById('modaldeletebookid').value = idSearch;
                if(!$('#modalbottom').hasClass('d-none')) {$('#modalbottom').addClass('d-none')}
            },

            type: 'Get'

        });
    }





</script>
<script th:fragment="bookdisplay(arrayofbooks)" th:inline="javascript">
    let idsearch = [[${arrayofbooks}]]
    let startdates = [[${startdates}]]
    let startdateshtml = [[${startdateshtml}]]
    let finishdates = [[${finishdates}]]
    let finishdateshtml = [[${finishdateshtml}]]

    let findreplace = {}

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })


    function googleIdSearch(idSearch,startDate,finishDate,startDateHTML,finishDateHTML){
// console.log("This function runs");
// let idSearch = document.getElementById('search google_id').value
let results = document.getElementById('results1')
// console.log("search google_id")

$.ajax({
url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
dataType: "json",

success: function (data) {

    let thumbnail
    let author

    // use dom to display ajax rtn

    if (!data.volumeInfo.hasOwnProperty('imageLinks')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
    else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {thumbnail = "http://localhost:8080/img/logo-small.png"}
    else {thumbnail = data.volumeInfo.imageLinks.thumbnail}
    console.log(thumbnail);
    if (!data.volumeInfo.hasOwnProperty('authors')) {author = "Unknown or not listed"}
    else {author = data.volumeInfo.authors[0]}
    if (startDate === null) {startDate = "Not yet started."};
    if (finishDate === null) {finishDate = "Not finished yet."}

var html = '<div class="col my-2"><div class="card text-center text-body book-card h-100 p-3">'
    // html += "<img src='https://books.google.com/books/content?id=" + data.items[i].id + "&printsec=frontcover&img' alt='Book Cover'>"
    html += "<img src='" + thumbnail + "' class='img-fluid' alt='Book Cover'><hr>"
    html += "<div class='card-body'>"
    html += "<h5 class=''>" + data.volumeInfo.title + " - " + data.volumeInfo.authors[0] + "</h5><br>"
    html += "<h6> Start "+ startDate +"</h6>"
    html += "<h6> Finish: "+ finishDate +"</h6></div>"
    html += '<hr> <div class="d-flex flex-column align-items-center">'
    // html += '<div><a href="#" class="butn boo-link mb-2" id="'+ idSearch +'">Remove</a></div>'
    html += '<div class="card-footer"><button href="" class="butn book-selector meeting-link" data-google-i-d="'+ idSearch +'" data-startdate="'+startDate+'" data-startdatehtml="'+ startDateHTML+'" data-finishdate="'+ finishDate +'" data-finishdatehtml="'+ finishDateHTML +'" data-bs-toggle="modal" data-bs-target="#myModal">See details</button></div></div></div></div>'
    // html += "<div class='card-bottom1'><p class='card-text'>" + data.volumeInfo.description + "</p></div></div>"

    results.innerHTML += html;
    findreplace[idSearch] = data.volumeInfo.title;

    $('body :not(script)').contents().filter(function () {
        return this.nodeType === 3;
    }).replaceWith(function () {
            return this.nodeValue.replace(idSearch, data.volumeInfo.title)})

},


type: 'Get',
}
)
}
if (typeof idsearch == "string") {googleIdSearch(idsearch,startdateshtml,finishdateshtml);}
    // console.log("This book is a string!")
    // $(".card-bottom1").hide()
    // console.log("Firing after the hide from string!")
    // $('.card-top1').click(function() {
    // console.log("I'm firing from the click listener!")
    // let thisCardBottom = $(this).next()
    // // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
    // $(".card-bottom1").not(thisCardBottom).slideUp(500)
    // $(this).next().slideToggle(1000)})}
else {
for(let i = 0; i < idsearch.length; i++) {
    googleIdSearch(idsearch[i],startdates[i],finishdates[i],startdateshtml[i], finishdateshtml[i]);
}
}
// console.log("These books are a list!")
// $(".card-bottom1").hide()
//     console.log("Firing after the hide from list!")
// $('.card-top1').click(function() {
//     console.log("I'm firing from the click listener!")
//     let thisCardBottom = $(this).next()
//     // $(this).parent().toggleClass("col-lg-4").toggleClass("col-lg-2");
//     $(".card-bottom1").not(thisCardBottom).slideUp(500)
//     $(this).next().next().slideToggle(1000)}

    const title = document.getElementById('myModalLabel');
    const modalImage = document.getElementById('modalImage');
    const body = document.getElementById('modalBody');
    const startdatetext = document.getElementById('startDateText');
    const finishdatetext = document.getElementById('finishDateText');
    const startdatecalendar = document.getElementById('startDate');
    const finishdatecalendar = document.getElementById('finishDate');
    const modalbookid = document.getElementById('modalbookid');
    const modaldeletebookid = document.getElementById('modaldeletebookid');



    function modalPopulate(idSearch,start,finish,startHTML,finishHTML){
        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
            dataType: 'json',
            success: function (data) {
                let thumbnail
                let author

                if (!data.volumeInfo.hasOwnProperty('imageLinks')) {
                    thumbnail = "http://localhost:8080/img/logo-small.png"
                } else if (!data.volumeInfo.imageLinks.hasOwnProperty('thumbnail')) {
                    thumbnail = "http://localhost:8080/img/logo-small.png"
                } else {
                    thumbnail = data.volumeInfo.imageLinks.thumbnail
                }
                console.log(thumbnail);
                if (!data.volumeInfo.hasOwnProperty('authors')) {
                    author = "Unknown or not listed"
                } else {
                    author = data.volumeInfo.authors[0]
                }

                title.innerText = data.volumeInfo.title + " - " + author;
                modalImage.innerHTML = '<img src="' + thumbnail + '">'
                body.innerHTML = data.volumeInfo.description;
                startdatetext.innerText = "Currently set to: " + start;
                finishdatetext.innerText = "Currently set to: " + finish;
                startdatecalendar.disabled = false;
                startdatecalendar.value = startHTML;
                if($('#modalbottom').hasClass('bookclub')) {finishdatecalendar.disabled = true;}
                else if ($('#modalbottom').hasClass('user')) {finishdatecalendar.disable = false;}
                finishdatecalendar.value = finishHTML;
                modalbookid.value = idSearch;
                modaldeletebookid.value = idSearch;
                if($('#modalbottom').hasClass('d-none')) {$('#modalbottom').removeClass('d-none')}
            },

            type: 'Get'

        });
    }

setTimeout(function() {
        $('.book-selector').click(function() {
            // console.log(this);
            modalPopulate(this.dataset.googleID, this.dataset.startdate, this.dataset.finishdate, this.dataset.startdatehtml, this.dataset.finishdatehtml)
})
    }
, 750)
</script>
</div>

<!--This is a lightweight Javascript function that finds GoogleBook IDs (passed down from the controller) and replaces them with titles-->
<script th:fragment="findreplace" th:inline="javascript">
    let idsearch = [[${books}]]
    let findreplace = {}

    function findandreplacepopulate(idSearch) {
        $.ajax({
            url: "https://www.googleapis.com/books/v1/volumes/" + idSearch,
            dataType: 'json',
            success: function (data) {
                // findreplace[idSearch] = data.volumeInfo.title;

                $('body :not(script)').contents().filter(function () {
                    return this.nodeType === 3;
                }).replaceWith(function () {
                    return this.nodeValue.replace(idSearch, data.volumeInfo.title)})


            }, type: 'Get',
        })
    }

    if (typeof idsearch == "string") {findandreplacepopulate(idsearch);}
    else for (let i = 0; i < idsearch.length; i++) {
        findandreplacepopulate(idsearch[i])
    }

</script>

<!--                                    FOOTER PARTIAL START-->

<footer th:fragment="footer" class="text-muted footer py-3" id="footer">
    <div class="container-fluid d-flex flex-column align-items-center">
        <p class="float-right my-2">
            <a href="#" class="pro-link-2">Back to top</a>
        </p>
        <p class="my-2">Everything here is &copy; 2021 by Daniel Cortes, Walter Smith, Ron Rajski, and Edward C. "Ted" McCormick, all rights reserved.</p>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!--    <script src="/js/main.js"></script>-->
</footer>
</body>
</html>