<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="partials.html :: head('Your Profile Page')">
        <title>Title</title>
    </head>
<body>
<nav th:replace="partials.html :: navbar"></nav>
<div class="container">
<h2>THIS IS YOUR PROFILE PAGE!!!</h2>

<div >
    <p>The id is: <span th:text="${id}"></span></p>
</div>
<div style="border: 2px solid black">

</div>
<div>
<!--    <h1 th:if="${isYou}">Hello! This is YOUR page!!</h1>-->
    Hello <span th:text="${name}"></span>
<!--    <h2 th:text="${ownedClubs}"></h2>-->





    <p>This will be the area where the details are displayed.</p>
    <section>
        <h2>Maybe here we can have links you Bookclubs you own</h2>



        <div th:each="bookclub : ${ownedClubs}" class="text-center">

            <div class="container">
                <h1 th:text="${bookclub.name}"></h1>

                <p th:text="${bookclub.description}"></p>

                <a th:href="@{'/bookclubs/' + ${bookclub.id}}" class="btn btn-primary">Details</a>

                <!--                @{/bookclubs/(bookclub.id)}-->
            </div>

        </div>

    </section>
    <section>
        <h2>And then here display links to bookclubs you are a member of.</h2>
        <div th:each="bookclub : ${memberClubs}" class="text-center">

            <div class="container">
                <h1 th:text="${bookclub.name}"></h1>

                <p th:text="${bookclub.description}"></p>

                <a th:href="@{'/bookclubs/' + ${bookclub.id}}" class="btn btn-primary">Details</a>

                <!--                @{/bookclubs/(bookclub.id)}-->
            </div>

        </div>
    </section>
    <p>Pending invites? included?</p>
    <p>If you are viewing someone else's page, a button to invite to a club of yours?</p>
    <h3>Here are the books currently on your reading list: </h3>
    <div id="results1" class="row"></div>
    <br>
    <br>
    <div th:if="${isowner}"> <h4>Add more books to your personal reading list here: </h4>
<div th:replace="partials.html::booksearch"></div></div>
    <br>
    <br>
</div>
</div>
<footer th:replace="partials.html::footer"></footer>
<script th:replace="partials.html::bookdisplay(${books})"></script>
<div th:if="${isowner}"> <script th:replace="partials.html::booksearchscript(user,1)"></script></div>
</body>
</html>