<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials.html::head('about us')">
    <meta charset="UTF-8">
    <title>About Us</title>



</head>
<!--    CSS-->
<link rel="stylesheet" href="/css/aboutUs.css">
<!--    CSS END-->


<body>

<!--        NAVBAR-->

    <div th:replace="partials.html::navbar">

    </div>

<!--        NAVBAR-->

    <h1 class="text-center text-white">Who We Are</h1>

        <div class="container">

            <div class="row row-cols-1 row-cols-md-2 g-4">




<!--                        CARD 1 -->

                <div class="col">
                    <div class="card h-100">
                        <img  src="/img/daniel.jpg" class="card-img-top" alt="daniel">

                        <div class="card-body">
                            <h2 class="card-title">Daniel Cortes</h2>
                            <p class="card-text">Hire me because: <br>I am an intelligent, resourceful individual with a broad range of life and practical experiences who loves to solve problems. I can work with others or alone and find ways to accomplish tasks with high marks.</p>
                        </div>
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/daniel-cortes83944/" class="card-link">LinkedIn</a><br>
                            <a href="https://github.com/danielcortes89" class="card-link">Github </a><br>
                            <a href="https://alumni.codeup.com/students/981 (edited) " class="card-link">Codeup Alumni Portal</a><br>
                        </div>
                    </div>

                </div>

<!--                    CARD END-->

                    <!--                        CARD 2 -->

                    <div class="col">
                    <div class="card h-100">
                        <img src="/img/ted.jpg" class="card-img-top" alt="ted">
                        <div class="card-body">
                            <h2 class="card-title">Ted McCormick</h2>
                            <p class="card-text">Hire me because: <br>I know how to win, I know how to contribute to winning teams, and I know how to help build winning teams. Hire me because I have the experience and perspective to understand how my skills and abilities can help you, your team, and your company.</p>
                        </div>
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/ted-mccormick/detail/contact-info/" class="card-link">LinkedIn</a><br>
                            <a href="https://github.com/edwardmccormick" class="card-link">Github</a><br>
                            <a href="https://alumni.codeup.com/students/987" class="card-link">Codeup Alumni Portal</a>
                        </div>
                    </div>
                    </div>

                    <!--                    CARD END-->

                    <!--                        CARD 3 -->

                    <div class="col">
                    <div class="card h-100">
                        <img src="/img/ron.jpg" class="card-img-top" alt="ron">
                        <div class="card-body">
                            <h2 class="card-title">Ronald Rajski</h2>
                            <p class="card-text">Hire me because:<br>
                                I am a team player with project management experience and I possess over thirteen years of professional teaching experience.</p>
                        </div>
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/ronald-rajski-csm-pmp-a716371a/" class="card-link">LinkedIn</a><br>
                            <a href="https://github.com/RonaldRajski" class="card-link">Github </a><br>
                            <a href="https://alumni.codeup.com/students/991" class="card-link">Codeup Alumni Portal</a>
                        </div>
                    </div>
                    </div>

                    <!--                    CARD END-->

                    <!--                        CARD 4 -->

                    <div class="col">
                    <div class="card h-100">
                        <img src="/img/walter.png" class="card-img-top" alt="walter">
                        <div class="card-body">
                            <h2 class="card-title">Walter Smith</h2>
                            <p class="card-text">Hire me because: <br> I'm a life long learner who desires to not only to strive for self improvement but aim to help others. I truly enjoy a challenge and all the twist and turns that any job/role that is presented to me.</p>
                        </div>
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/waltercsmith1/" class="card-link">LinkedIn</a><br>
                            <a href="https://github.com/waltercsmith" class="card-link">Github</a><br>
                            <a href="https://alumni.codeup.com/students/989" class="card-link">Codeup Alumni Portal</a><br>
                        </div>
                    </div>
                    </div>

                    <!--                    CARD END-->

            </div>

        </div>



<!--        Footer-->

        <footer th:replace="partials.html::footer"></footer>

<!--        Footer-->






</body>

</html>